<% title t('help.antifeatures.title') %>

<%= it('help.antifeatures.intro_html', site_name: site_name, rules_link: help_code_rules_path, meta_keys_link: help_meta_keys_path) %>

<h3><code>@antifeature ads</code></h3>

<%= t('help.antifeatures.ads_html') %>

<h3><code>@antifeature membership</code></h3>

<%= t('help.antifeatures.membership_html') %>

<h3><code>@antifeature miner</code></h3>

<%= t('help.antifeatures.miner_html') %>

<h3><code>@antifeature payment</code></h3>

<%= t('help.antifeatures.payment_html') %>

<h3><code>@antifeature referral-link</code></h3>

<%= t('help.antifeatures.referral_link_html') %>

<h3><code>@antifeature tracking</code></h3>

<%= t('help.antifeatures.tracking_html') %>


