<%- title t('help.credits.title') %>

<p>
  <%= t('help.credits.authors_credit', site_name: site_name) %>
</p>

<p>
  <%= it('help.credits.developers_credit', developers_link: 'https://github.com/greasyfork-org/greasyfork/graphs/contributors', site_name: site_name) %>
</p>

<p>
  <%= it('help.credits.translators_credit', translators_link: 'https://app.transifex.com/greasy-fork/teams/', site_name: site_name) %>
</p>

<ul>
  <% Locale.ui_available.includes(:locale_contributors).order(:code).distinct.reject { |locale| locale.locale_contributors.none? }.each do |locale| %>
    <li>
      <b>
        <%= link_to "#{locale.native_name || locale.english_name} (#{locale.code})", root_path(locale: locale.code, locale_override: 1) %>
      </b>:
      <ul class="inline-list">
        <% locale.locale_contributors.map(&:transifex_user_name).each do |contributor| %>
          <li><%= contributor %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<p>
  <%= it('help.credits.icons_credit', browserlogos: link_to('alrra/browser-logos', 'https://github.com/alrra/browser-logos/')) %>
</p>
