<h3>Code blacklist</h3>

<p>Code patterns that will get blocked automatically. Users posting this will get the message "Name exception (code)".</p>

<p>This is a private list for moderator eyes only, because malicious people could easily craft their scripts to get around these blocks if they knew what they were.</p>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Pattern</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% DisallowedCode.where(originating_script_id: nil).each do |dc| %>
      <tr>
        <td><%=dc.ob_code%></td>
        <td><code><%=dc.pattern%></code></td>
        <td><%=dc.description%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Unauthorized copy blacklist</h3>

<p>These patterns will tell the author that they are posting an unauthorized copy of the related script.</p>

<table>
  <thead>
    <tr>
      <th>Pattern</th>
      <th>Description</th>
      <th>Script</th>
    </tr>
  </thead>
  <tbody>
    <% DisallowedCode.where.not(originating_script_id: nil).select { |dc| dc.originating_script.present? }.each do |dc| %>
      <tr>
        <td><code><%= dc.pattern %></code></td>
        <td><%= dc.description %></td>
        <td><%= link_to(dc.originating_script.name(I18n.locale), script_path(dc.originating_script)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Non-code blacklist</h3>

<table>
  <thead>
    <tr>
      <th>Object Type</th>
      <th>Code</th>
      <th>Attribute</th>
      <th>Pattern</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% DisallowedAttribute.all.each do |dc| %>
      <tr>
        <td><%=dc.object_type%></td>
        <td><%=dc.ob_code%></td>
        <td><%=dc.attribute_name%></td>
        <td><code><%=dc.pattern%></code></td>
        <td><%=dc.reason%></td>
      </tr>
    <% end %>
  </tbody>
</table>
