<%- title t('help.external_scripts.title', site_name: site_name) %>
<%- description "#{site_name}'s policy on external scripts included in submitted user scripts, for example with @require." %>

<%= it('help.external_scripts.intro_html', site_name: site_name) %>

<h3><%= t('help.external_scripts.rationale.title') %></h3>
<%= it('help.external_scripts.rationale.content_html', require_doc_link: 'https://wiki.greasespot.net/Metadata_Block#.40require', resource_doc_link: 'https://wiki.greasespot.net/Metadata_Block#.40resource', site_name: site_name, webpack_externals_link: 'https://webpack.js.org/configuration/externals/') %>

<h3><%= t('help.external_scripts.allowed_external_codes.heading') %></h3>
<%= it('help.external_scripts.allowed_external_codes.content_html', code_rules_link: help_code_rules_path, site_name: site_name) %>

<h4><%= t('help.external_scripts.cdns.title') %></h4>
<%= it('help.external_scripts.cdns.content_html', cdns_link: help_cdns_path) %>

<h4><%= t('help.external_scripts.sri.title') %></h4>
<%= it('help.external_scripts.sri.content_html', mdn_sri_link: 'https://developer.mozilla.org/docs/Web/Security/Subresource_Integrity', tm_sri_link: 'https://www.tampermonkey.net/documentation.php#Subresource_Integrity') %>

<h4><%= t('help.external_scripts.libraries.title', site_name: site_name) %></h4>
<%= it('help.external_scripts.libraries.content_html', site_name: site_name) %>

<h4><%= t('help.external_scripts.origin_host.title') %></h4>
<%= it('help.external_scripts.origin_host.content_html') %>
