<%- title t('layouts.application.help') %>

<h3><%= t('help.sections.usage') %></h3>
<ul>
  <li><%= link_to t('help.installing_user_scripts.title'), help_installing_user_scripts_path %></li>
  <li><%= link_to t('help.installing_user_styles.title'), help_installing_user_styles_path %></li>
  <li><%= link_to t('help.help_with_greasymonkey'), 'https://wiki.greasespot.net/Troubleshooting_(Users)' %></li>
  <li><%= link_to t('help.help_with_tampermonkey'), 'https://www.tampermonkey.net/faq.php' %></li>
  <li><%= link_to t('help.help_with_violentmonkey'), 'https://violentmonkey.github.io/guide/creating-a-userscript/' %></li>
</ul>

<h3><%= t('help.sections.development') %></h3>
<ul>
  <li><%= link_to t('help.writing_user_scripts.title'), help_writing_user_scripts_path %></li>
  <li><%= link_to t('help.meta_keys.title', site_name: site_name), help_meta_keys_path %></li>
  <li><%= link_to t('help.code_rules.title', site_name: site_name), help_code_rules_path %></li>
  <li><%= link_to t('help.external_scripts.title', site_name: site_name), help_external_scripts_path %></li>
  <li><%= link_to t('common.allowed_elements_and_attributes_title', site_name: site_name), help_allowed_markup_path %></li>
  <li><%= link_to t('help.script_rewriting.title', site_name: site_name), help_rewriting_path %></li>
  <li><%= link_to t('help.user_css_to_user_js.title'), help_user_js_conversions_path %></li>
</ul>

<h3><%= t('help.sections.miscellaneous') %></h3>
<ul>
  <li><%= link_to t('help.site_feedback_link', site_name: site_name), 'https://github.com/greasyfork-org/greasyfork/issues' %></li>
  <li><%= link_to t('help.contact.title'), help_contact_path %></li>
  <li><%= link_to t('help.credits.title'), help_credits_path %></li>
  <li><%= link_to t('help.privacy_policy.title'), help_privacy_path %></li>
</ul>

<p><%= it('help.open_source', github_link: 'https://github.com/greasyfork-org/greasyfork', site_name: site_name) %></p>
