<%- title t('help.installing_user_scripts.title') %>
<%- description 'Describes how to install user scripts from Greasy Fork.' %>

<p><%=t('help.installing_user_scripts.title')%></p>

<ul>
	<li><%=it('help.installing_user_scripts.firefox', gm_link: 'https://addons.mozilla.org/firefox/addon/greasemonkey/')%></li>
	<li><%=it('help.installing_user_scripts.chrome', tm_link: 'https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo')%></li>
	<li><%=it('help.installing_user_scripts.opera_15_plus', tm_link: 'https://addons.opera.com/extensions/details/tampermonkey-beta/', vm_link: 'https://addons.opera.com/extensions/details/violent-monkey/')%></li>
	<li><%=it('help.installing_user_scripts.opera_12', opera_doc_link: 'http://www.opera.com/docs/userjs/using/#writingscripts', vm_link: 'https://addons.opera.com/extensions/details/violent-monkey/')%></li>
</ul>

<p><%=t('help.installing_user_scripts.installing_scripts')%></p>
