<style>
	form > div {
		margin-bottom: 1em;
	}
	.selection-box {
		display: inline-block;
		vertical-align: top;
		min-width: 20%;
	}
	.selection-box select {
		width: 100%;
	}
	textarea {
		width: 95%;
		height: 5em;
	}
	h3 {
		margin-bottom: 0;
		margin-top: 2em;
	}
	.add-automatic-script-set > div {
		margin-left: 1em;
	}
	.add-automatic-script-set-4 > * {
		vertical-align: top;
	}
</style>

<% if !@set.favorite %>
	<p>
		Script sets let you create your own lists of scripts and browse through them with the Greasy Fork's sorting, filtering, and searching options. There are three item types you can include in your script sets: individual scripts, other script sets created by you or other users, and script sets created automatically by the site. For each type, you can choose to include it (the scripts will appear in your script set) or exclude it (the scripts will be removed from your script set if something else included it).</p>
	</p>
<% else %>
	<p>Favorite scripts</p>
<% end %>

<%=form_for([@set.user, @set]) do |s|%>

	<% if !@set.errors.empty? %>
		<p><%=t('common.error_preamble')%></p>
		<ul class="errors">
			<% @set.errors.full_messages.each do |m| %>
				<li><%=m%></li>
			<% end %>
		</ul>
	<% end %>

	<% if @set.favorite %>
		<%=s.hidden_field(:name)%>
		<%=s.hidden_field(:description)%>
	<% else %>
		<div>
			<%=s.label(:name)%><br>
			<%=s.text_field(:name, :maxlength => 100, :size => nil)%>
		</div>

		<div>
			<%=s.label(:description)%><br>
			<%=s.text_area(:description, :maxlength => 500, :size => nil)%>
		</div>

		<div>
			<%=s.label(:default_sort)%><br>
			<%=s.select(:default_sort, [
				[t('script_sets.site_default_sort'), nil],
				[t('scripts.listing_sort_daily_installs'), 'daily_installs'],
				[t('scripts.listing_sort_total_installs'), 'total_installs'],
				[t('scripts.listing_sort_ratings'), 'ratings'],
				[t('scripts.listing_sort_created_date'), 'created'],
				[t('scripts.listing_sort_updated_date'), 'updated'],
				[t('scripts.listing_sort_name'), 'name']
			])%>
		</div>
	<% end %>

	<div>
		<% if !@set.favorite %>
			<h3>Scripts</h3>
		<% end %>
		<div class="selection-box">
			<% if !@set.favorite %>
				<label for="remove-scripts-included">Included</label><br>
			<% end %>
			<% if @set.child_script_inclusions.empty? %>
				<select disabled multiple size="10">
					<option>(None)</option>
				</select>
			<% else %>
				<select id="remove-scripts-included" name="remove-scripts-included[]" multiple size="10">
					<% @set.child_script_inclusions.each do |script| %>
						<option value="<%=script.id%>"><%=script.name(I18n.locale)%></option>
					<% end %>
				</select><br>
				<button name="remove-selected-scripts" value="i">Remove selected</button>
			<% end %>
		</div>
		<% if !@set.favorite %>
			<div class="selection-box">
				<label for="remove-scripts-excluded">Excluded</label><br>
				<% if @set.child_script_exclusions.empty? %>
					<select disabled multiple size="10">
						<option>(None)</option>
					</select>
				<% else %>
					<select id="remove-scripts-excluded" name="remove-scripts-excluded[]" multiple size="10">
						<% @set.child_script_exclusions.each do |script| %>
							<option value="<%=script.id%>"><%=script.name(I18n.locale)%></option>
						<% end %>
					</select><br>
					<button name="remove-selected-scripts" value="e">Remove selected</button>
				<% end %>
			</div>
		<% end %>
		<div>
			<label for="add-script">Add scripts (URLs or IDs, separated by whitespace)</label><br>
			<textarea id="add-script" name="add-script"></textarea><br>
			<button name="script-action" value="i">Include</button>
			<% if !@set.favorite %>
				<button name="script-action" value="e">Exclude</button>
			<% end %>
		</div>
		<% @set.child_script_inclusions.each do |script| %>
			<input type="hidden" name="scripts-included[]" value="<%=script.id%>">
		<% end %>
		<% if !@set.favorite %>
			<% @set.child_script_exclusions.each do |script| %>
				<input type="hidden" name="scripts-excluded[]" value="<%=script.id%>">
			<% end %>
		<% end %>
	</div>

	<% if !@set.favorite %>
		<div>
			<h3>Script sets</h3>
			<div class="selection-box">
				<label for="remove-sets-included">Included</label><br>
				<% if @set.child_set_inclusions.empty? %>
					<select disabled multiple size="10">
						<option>(None)</option>
					</select>
				<% else %>
					<select id="remove-sets-included" name="remove-sets-included[]" multiple size="10">
						<% @set.child_set_inclusions.each do |set| %>
							<option value="<%=set.id%>"><%=set.name%></option>
						<% end %>
					</select><br>
					<button name="remove-selected-sets" value="i">Remove selected</button>
				<% end %>
			</div>
			<div class="selection-box">
				<label for="remove-sets-included">Excluded</label><br>
				<% if @set.child_set_exclusions.empty? %>
					<select disabled multiple size="10">
						<option>(None)</option>
					</select>
				<% else %>
					<select id="remove-sets-excluded" name="remove-sets-excluded[]" multiple size="10">
						<% @set.child_set_exclusions.each do |set| %>
							<option value="<%=set.id%>"><%=set.name%></option>
						<% end %>
					</select><br>
					<button name="remove-selected-sets" value="e">Remove selected</button>
				<% end %>
			</div>
			<div>
				<label>Add script set</label><br>
				<input type="hidden" name="child-set-user-id" value="<%=@child_set_user.id%>">
				<label for="child-set-user">User (URL, ID, or name)</label> <input id="child-set-user" name="child-set-user" value="<%=@child_set_user.name%>">
				<button name="child-set-user-refresh" value="1">→</button>
				<% available_child_sets = @child_set_user.script_sets.select{|ss| ss != @set && !@set.child_set_inclusions.include?(ss) && !@set.child_set_exclusions.include?(ss)}
				if @child_set_user.script_sets.empty? %>
					(User has no sets)
				<% elsif available_child_sets.empty? %>
					(User has no other sets)
				<% else %>
					<select name="add-child-set">
						<% available_child_sets.each do |ss| %>
							<option value="<%=ss.id%>"><%=ss.name%></option>
						<% end %>
					</select>
					<button name="set-action" value="i">Include</button>
					<button name="set-action" value="e">Exclude</button>
				<% end %>
			</div>
			<% @set.child_set_inclusions.each do |set| %>
				<input type="hidden" name="sets-included[]" value="<%=set.id%>">
			<% end %>
			<% @set.child_set_exclusions.each do |set| %>
				<input type="hidden" name="sets-excluded[]" value="<%=set.id%>">
			<% end %>
		</div>

		<div>
			<h3>Automatic script sets</h3>
			<div class="selection-box">
				<label for="remove-sets-included">Included</label><br>
				<% if @set.child_automatic_set_inclusions.empty? %>
					<select disabled multiple size="10">
						<option>(None)</option>
					</select>
				<% else %>
					<select id="remove-automatic-sets-included" name="remove-automatic-sets-included[]" multiple size="10">
						<% @set.child_automatic_set_inclusions.each do |set| %>
							<option value="<%=set.param_value%>"><%=set.name%></option>
						<% end %>
					</select><br>
					<button name="remove-selected-automatic-sets" value="i">Remove selected</button>
				<% end %>
			</div>
			<div class="selection-box">
				<label for="remove-automatic-sets-included">Excluded</label><br>
				<% if @set.child_automatic_set_exclusions.empty? %>
					<select disabled multiple size="10">
						<option>(None)</option>
					</select>
				<% else %>
					<select id="remove-automatic-sets-excluded" name="remove-automatic-sets-excluded[]" multiple size="10">
						<% @set.child_automatic_set_exclusions.each do |set| %>
							<option value="<%=set.param_value%>"><%=set.name%></option>
						<% end %>
					</select><br>
					<button name="remove-selected-automatic-sets" value="e">Remove selected</button>
				<% end %>
			</div>
			<div class="add-automatic-script-set">
				<label>Add automatic script set</label><br>
				<div>
					All scripts:
					<button name="add-automatic-script-set-1" value="i">Include</button>
				</div>
				<div>
					<label for="add-automatic-script-set-value-2">Scripts for site (e.g. example.com, leave blank for "All sites"):</label>
					<input id="add-automatic-script-set-value-2" name="add-automatic-script-set-value-2"> <button name="add-automatic-script-set-2" value="i">Include</button> <button name="add-automatic-script-set-2" value="e">Exclude</button>
				</div>
				<div>
					<label for="add-automatic-script-set-value-3">Scripts by user (URL, ID, or name):</label>
					<input id="add-automatic-script-set-value-3" name="add-automatic-script-set-value-3"> <button name="add-automatic-script-set-3" value="i">Include</button> <button name="add-automatic-script-set-3" value="e">Exclude</button>
				</div>
				<div class="add-automatic-script-set-4">
					<label for="add-automatic-script-set-value-4">Scripts in language:</label>
					<% current_locale = nil
					current_locale = Locale.where(:code => params[:locale]).first if !params[:locale].nil?
					current_locale = Locale.where(:code => 'en').first if current_locale.nil? %>
					<%=select_tag('add-automatic-script-set-value-4', options_from_collection_for_select(Locale.with_listable_scripts(script_subset), "id", "display_text", current_locale.id), {:id => 'add-automatic-script-set-value-4', :multiple => true})%> <button name="add-automatic-script-set-4" value="i">Include</button> <button name="add-automatic-script-set-4" value="e">Exclude</button>
				</div>
			</div>
			<% @set.child_automatic_set_inclusions.each do |set| %>
				<input type="hidden" name="automatic-sets-included[]" value="<%=set.param_value%>">
			<% end %>
			<% @set.child_automatic_set_exclusions.each do |set| %>
				<input type="hidden" name="automatic-sets-excluded[]" value="<%=set.param_value%>">
			<% end %>
		</div>

		<div>
			<h3>Calculated script list</h3>
			<% script_count = @set.scripts(script_subset).count
			if script_count == 0 %>
				(None)
			<% else %>
				<ul>
					<% @set.scripts(script_subset).take(100).each do |script| %>
						<li><%=link_to script.name(I18n.locale), script%></li>
					<% end
					if script_count > 100 %>
						<li>And <%=script_count - 100%> more...</li>
					<% end %>
				</ul>
			<% end %>
		</div>
	<% end %>

	<input type="hidden" name="favorite" value="<%=@set.favorite ? '1' : '0'%>">
	<button name="save" value="1">Save</button>
<% end %>
