<% if !script_version.errors.empty? or !script_version.script.errors.empty? %>
	<p>There were some problems with what you posted...</p>
	<ul class="errors">
		<% script_version.errors.full_messages.each do |m| %>
			<li><%=m%></li>
		<% end %>
		<% script_version.script.errors.full_messages.each do |m| %>
			<li><%=m%></li>
		<% end %>
	</ul>
<% end %>

<%=form_for(script_version.script.new_record? ? script_version : [script_version.script, script_version]) do |s| %>
	<div class="form-control">
		<label for="code">Code</label> <%=link_to '(Read the rules)', help_code_rules_path, {:target => 'code_rules', :class => 'label-note'}%><br>
		<%=s.text_area(:code)%>
	</div>
	<% if !script_version.script.new_record? %>
		<div class="form-control">
			<label for="changelog">Changelog</label> <span class="label-note">What's changed in this version?</span><br>
			<%=s.text_field(:changelog, :maxlength => 500, :size => nil)%>
		</div>
	<% end %>
	<div class="form-control">
		<label for="additional-info">Additional info</label>
		<span class="label-note">
			Ramble on about your script.
			<%=s.radio_button(:additional_info_markup, 'html')%> <%=link_to 'HTML', help_allowed_markup_path, {:target => 'markup_choice'}%>
			<%=s.radio_button(:additional_info_markup, 'markdown')%> <%=link_to 'Markdown', 'http://daringfireball.net/projects/markdown/basics', {:target => 'markup_choice'}%>
			<button id="preview-script-additional-info" class="preview-button">Preview</button>
		</span><br>
		<%=s.text_area(:additional_info, {:class => 'previewable', 'data-preview-activate-id' => 'preview-script-additional-info', 'data-markup-option-name' => 'script_version[additional_info_markup]', 'data-preview-result-id' => 'preview-script-additional-info-results'})%>
		<div id="preview-script-additional-info-results" class="preview-result"></div>
	</div>
	<%=s.submit(script_version.script.new_record? ? 'Post script' : 'Post new version')%>
<% end %>
