<%- title @script.name + ' - Version history' %>
<%- description 'Version history for ' + @script.name %>

<% 
show_diff = @script.script_versions.length > 1
i = 0
%>
<form action="<%=script_diff_path(params[:script_id])%>">
	<ul>
		<% @script.script_versions.reverse.each do |sv| %>
			<li>
				<% if show_diff %>
					<input required type="radio" name="v1" value="<%=sv.id%>"<% if i == 0%> checked<%end%>>
					<input required type="radio" name="v2" value="<%=sv.id%>"<% if i == 1%> checked<%end%>>
				<% end 
				i += 1
				%>
				<%=link_to 'v' + sv.version, script_path(sv.script, :version => sv.id)%> 
				<%=markup_date(sv.created_at)%>
				<%=sv.changelog%>
			</li>
		<% end %>
	</ul>
	<% if show_diff %>
		<%= submit_tag 'Diff', :name => nil%>
	<% end %>
</form>
