<%=form_tag(script_diff_path(params[:script_id]), {:method => :get}) do %>
	<ul>
		<% @script.script_versions.reverse.each do |sv| %>
			<li><input type="radio" name="v1" value="<%=sv.id%>"> <input type="radio" name="v2" value="<%=sv.id%>"> <%=link_to sv.created_at, script_path(sv.script, :version => sv.id)%> <%=sv.changelog%></li>
		<% end %>
	</ul>
	<%= submit_tag 'Diff'%>
<% end %>
