<%- title "Edit profile" %>

<h2>Edit <%= resource.name %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :profile %> <span class="label-note"><%=link_to '(Some HTML allowed)', help_allowed_markup_path, {:target => 'html_allowed'}%></span><br>
  <%= f.text_area :profile %></div>

  <div><%= f.label :password %> <span class="label-note">(Leave blank if you don't want to change it)</span><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <span class="label-note">(We need your current password to confirm your changes)</span><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<% if false 
# disabled here and in routing
%>
	<h3>Cancel my account</h3>

	<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
<% end %>

<%= link_to "Back", :back %>
