<%- title t('.sign_up', :default => "Sign up") %>
<%- description 'Sign up page for Greasy Fork accounts.' %>

<h2><%= t('.sign_up', :default => "Sign up") %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :required => true, :autocomplete => 'off' %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :required => true, :autocomplete => 'off' %></div>

  <div><%= f.submit t('.sign_up', :default => "Sign up") %></div>
<% end %>

<%= render "devise/shared/links" %>
