<h2><%= t('.sign_up') %></h2>

<% resource.locale_id ||= request_locale.id %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: 'off', required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: 'off', required: true %>
  </div>

  <%= f.hidden_field :locale_id %>

  <%= flash[:recaptcha_error] %>
  <div><%= invisible_recaptcha_tags callback: 'submitInvisibleRecaptchaForm', text: t('.sign_up') %></div>
<% end %>

<%= render 'devise/shared/links' %>
