<% markup_name = 'comment[text_markup]' unless markup_name.present? %>

<span class="label-note">
  <%= link_to t('common.allowed_elements_link'), help_allowed_markup_path, { target:  'markup_choice' } %>
  <%= f.radio_button(:text_markup, 'html') %>HTML
  <%= f.radio_button(:text_markup, 'markdown') %><%= link_to 'Markdown', 'http://daringfireball.net/projects/markdown/basics', { target: 'markup_choice' } %>
</span>
<br>
<div class="previewable" data-markup-option-name="<%= markup_name %>" data-preview-label="<%= t('common.preview_tab') %>" data-write-label="<%= t('common.write_tab') %>">
  <%= f.text_area :text, required: true, class: 'comment-entry' %>
</div>
<div class="comment-screenshot-control">
  <%= t('scripts.screenshots_explanation', size: number_to_human_size(Rails.configuration.screenshot_max_size), number: Rails.configuration.screenshot_max_count ) %>
  <div>
    <%= f.label :attachments, t('scripts.screenshots_add') %>
    <%= f.file_field :attachments, multiple: true, accept: "image/*" %>
  </div>
  <% if f.object.attachments.attached? %>
    <div class="remove-attachments">
      <% f.object.attachments.reject(&:new_record?).each do |attachment| %>
        <div class="remove-attachment">
          <%= link_to attachment, data: { jslghtbx: url_for(attachment), jslghtbx_group: "screenshots-edit-#{f.object.id}" } do %><%= image_tag attachment.variant(resize_to_limit: [200, 200]) %><% end %>
          <div class="remove-attachment-selecter">
            <input id="remove-attachment-<%= attachment.id %>" name="remove-attachment-<%= attachment.id %>" type="checkbox" value="1"><label class="checkbox-label" for="remove-attachment-<%= attachment.id %>"><%= t('scripts.screenshots_remove') %></label>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if f.object.new_record? && !f.object.discussion.new_record? && f.object.discussion.poster == current_user %>
    <%= f.fields_for f.object.discussion do |discussion_f| %>
      <%= render partial: 'rating_entry', locals: { f: discussion_f, full_label: true } %>
    <% end %>
  <% end %>
</div>
