<% markup_name = 'comment[text_markup]' if markup_name.blank? %>

<span class="label-note">
  <%= link_to t('common.allowed_elements_link'), help_allowed_markup_path, { target:  'markup_choice' } %>
  <%= f.radio_button(:text_markup, 'html') %>HTML
  <%= f.radio_button(:text_markup, 'markdown') %><%= link_to 'Markdown', 'http://daringfireball.net/projects/markdown/basics', { target: 'markup_choice' } %>
</span>
<br>

<div class="previewable" data-markup-option-name="<%= markup_name %>" data-preview-label="<%= t('common.preview_tab') %>" data-write-label="<%= t('common.write_tab') %>">
  <%= f.text_area :text, required: true, class: 'comment-entry' %>
</div>

<div class="comment-screenshot-control">
  <%= render partial: 'screenshots/entry', locals: { f: f } %>
</div>

<% if f.object.new_record? && !f.object.discussion.new_record? && f.object.discussion.poster == current_user && f.object.discussion.script_id && !f.object.discussion.report %>
  <%= f.fields_for f.object.discussion do |discussion_f| %>
    <%= render partial: 'discussions/rating_entry', locals: { f: discussion_f, full_label: true } %>
  <% end %>
<% end %>
