<%
  show_script = defined?(show_script) && show_script && !discussion.script.nil?
%>

<div class="discussion-list-item">
  <div class="discussion-meta">
    <% if !discussion.for_script? || show_script %>
      <div class="discussion-meta-item discussion-meta-item-script-name">
        <% if discussion.script %>
          <%= link_to discussion.script.name(request_locale), script_path(discussion.script) %>
        <% else %>
          <%= t("discussions.categories.#{discussion.discussion_category.category_key}.name") %>
        <% end %>
      </div>
    <% end %>
    <div class="discussion-meta-item">
      <%= t('discussions.posted_by_html', user: render_poster(discussion), date: markup_date(discussion.created_at)) %>
    </div>
    <div class="discussion-meta-item">
      <% if discussion.stat_reply_count > 0 %>
        <div class="discussion-meta-item">
          <%= t('discussions.last_comment', user: render_user(discussion.stat_last_replier, discussion.stat_last_replier_id, script: discussion.script), date: markup_date(discussion.stat_last_reply_date)).html_safe %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to discussion.path, class: 'discussion-title' do %>
    <% if discussion.actual_rating? -%><span class="rating-icon rating-icon-<%= discussion.rating_key %>"><%= t("discussions.ratings_short.#{discussion.rating_key}") %></span><% end
    %><span class="discussion-snippet">
      <%= discussion_snippet(discussion) %>
    </span>
  <% end %>
</div>
