<div class="form-control radio-group discussion-rating">
  <label><%= t('activerecord.attributes.discussion.rating') %></label><br>
  <%= f.radio_button :rating, Discussion::RATING_QUESTION, required: true %> <%= f.label :rating, t('discussions.ratings.question'), value: Discussion::RATING_QUESTION, class: 'radio-label' %><br>
  <%= f.radio_button :rating, Discussion::RATING_BAD, required: true %> <%= f.label :rating, t('discussions.ratings.bad'), value: Discussion::RATING_BAD, class: 'radio-label' %><br>
  <%= f.radio_button :rating, Discussion::RATING_OK, required: true %> <%= f.label :rating, t('discussions.ratings.ok'), value: Discussion::RATING_OK, class: 'radio-label' %><br>
  <%= f.radio_button :rating, Discussion::RATING_GOOD, required: true %> <%= f.label :rating, t('discussions.ratings.good'), value: Discussion::RATING_GOOD, class: 'radio-label' %><br>
</div>
