<%- title t('discussions.title') %>

<div class="sidebarred">
  <div class="sidebarred-main-content discussion-list-main-content">
    <div class="open-sidebar sidebar-collapsed">
      ☰
    </div>

    <div class="discussion-list-header">
      <h2><%= t('discussions.title') %></h2>
      <% if current_user && @filter_result.read_status != 'read' && @discussions.any? %>
        <div class="discussion-actions">
          <%= link_to t('discussions.mark_all_read'), mark_all_read_discussions_path(category: @filter_result.category, by_user: @filter_result.by_user&.id, related_to_me: @filter_result.related_to_me, read: @filter_result.read_status), method: :post %>
        </div>
      <% end %>
    </div>

    <% if @discussions.empty? %>
      <p><%= t('discussions.no_discussions') %></p>
    <% else %>
      <div class="discussion-list <%= 'discussion-list-logged-in' if current_user %>">
        <%= render collection: @discussions, partial: 'discussions/discussion', locals: { show_script: true, discussion_ids_read: @discussion_ids_read } %>
      </div>
      <%= will_paginate @discussions, renderer: WillPaginate::ActionView::LinkRendererWithNoFollow %>
    <% end %>
  </div>

  <div class="sidebar collapsed">
    <div class="close-sidebar">
      <div class="sidebar-title"><%= t('common.listing_options_title') %></div>
      <div>☰</div>
    </div>

    <div class="list-option-groups">
      <p>
        <%= link_to t('discussions.new_button'), new_discussion_path(category: (@filter_result.category unless [DiscussionCategory::SCRIPT_DISCUSSIONS_KEY, DiscussionCategory::NO_SCRIPTS_KEY].include?(@filter_result.category))), class: 'list-option-button' %>
      </p>

      <% if current_user %>
        <div class="list-option-group">
          <%= t('discussions.user_filter.label') %>
          <ul>
            <% if @filter_result.related_to_me.nil? %>
              <li class="list-option list-current"><%= t('discussions.user_filter.all') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.user_filter.all'), current_path_with_params(me: nil, page: nil) %></li>
            <% end %>
            <% if @filter_result.related_to_me == 'started' %>
              <li class="list-option list-current"><%= t('discussions.user_filter.discussion_by_me') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.user_filter.discussion_by_me'), current_path_with_params(me: 'started', page: nil) %></li>
            <% end %>
            <% if @filter_result.related_to_me == 'comment' %>
              <li class="list-option list-current"><%= t('discussions.user_filter.comment_by_me') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.user_filter.comment_by_me'), current_path_with_params(me: 'comment', page: nil) %></li>
            <% end %>
            <% if current_user.scripts.any? %>
              <% if @filter_result.related_to_me == 'script' %>
                <li class="list-option list-current"><%= t('discussions.user_filter.on_my_scripts') %></li>
              <% else %>
                <li class="list-option"><%= link_to t('discussions.user_filter.on_my_scripts'), current_path_with_params(me: 'script', page: nil) %></li>
              <% end %>
            <% end %>
            <% if current_user.discussion_subscriptions.any? %>
              <% if @filter_result.related_to_me == 'subscribed' %>
                <li class="list-option list-current"><%= t('discussions.user_filter.subscribed') %></li>
              <% else %>
                <li class="list-option"><%= link_to t('discussions.user_filter.subscribed'), current_path_with_params(me: 'subscribed', page: nil) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @filter_result.by_user %>
        <div class="list-option-group">
          <ul>
            <li class="list-option"><%= link_to t('discussions.other_user_filter.all'), current_path_with_params(user: nil, page: nil) %></li>
            <li class="list-option list-current"><%= t('discussions.other_user_filter.comments_by', user: @filter_result.by_user.name) %></li>
          </ul>
        </div>
      <% end %>

      <% other_params_for_category = { read: @filter_result.read_status, page: nil, user: @filter_result.by_user&.id, me: @filter_result.related_to_me } %>
      <div class="list-option-group">
        <%= t('discussions.category_filter.label') %>
        <ul>
          <% if @filter_result.category.nil? %>
            <li class="list-option list-current"><%= t('discussions.category_filter.all') %></li>
          <% else %>
            <li class="list-option"><%= link_to t('discussions.category_filter.all'), discussions_path(safe_params(category: nil, **other_params_for_category)) %></li>
          <% end %>
          <% DiscussionCategory.visible_to_user(current_user).each do |dc| %>
            <% if dc.category_key == @filter_result.category %>
              <li class="list-option list-current"><%= t("discussions.categories.#{dc.category_key}.name") %></li>
            <% else %>
              <li class="list-option"><%= link_to t("discussions.categories.#{dc.category_key}.name"), category_discussion_index_path(category: dc, **other_params_for_category) %></li>
            <% end %>
          <% end %>
          <% if @filter_result.category == DiscussionCategory::NO_SCRIPTS_KEY %>
            <li class="list-option list-current"><%= t('discussions.categories.no-scripts.name') %></li>
          <% else %>
            <li class="list-option"><%= link_to t('discussions.categories.no-scripts.name'), category_discussion_index_path(category: DiscussionCategory::NO_SCRIPTS_KEY, **other_params_for_category) %></li>
          <% end %>
        </ul>
      </div>

      <% if current_user %>
        <div class="list-option-group">
          <%= t('discussions.read_filter.label') %>
          <ul>
            <% if @filter_result.read_status.nil? %>
              <li class="list-option list-current"><%= t('discussions.read_filter.all') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.read_filter.all'), current_path_with_params(read: nil, page: nil) %></li>
            <% end %>
            <% if @filter_result.read_status == 'read' %>
              <li class="list-option list-current"><%= t('discussions.read_filter.read') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.read_filter.read'), current_path_with_params(read: 'read', page: nil) %></li>
            <% end %>
            <% if @filter_result.read_status == 'unread' %>
              <li class="list-option list-current"><%= t('discussions.read_filter.unread') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.read_filter.unread'), current_path_with_params(read: 'unread', page: nil) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="list-option-group">
        <%= t('discussions.locale_filter.label') %>
        <ul>
          <% if @filter_result.locale.nil? %>
            <li class="list-option list-current"><%= t('discussions.locale_filter.all') %></li>
          <% else %>
            <li class="list-option"><%= link_to t('discussions.locale_filter.all'), current_path_with_params(show_locale: nil, page: nil) %></li>
          <% end %>
          <% showing_request_locale = @filter_result.locale && @filter_result.locale == request_locale %>
          <% if showing_request_locale %>
            <li class="list-option list-current"><%= request_locale.best_name %></li>
          <% else %>
            <li class="list-option"><%= link_to request_locale.best_name, current_path_with_params(show_locale: request_locale.code, page: nil) %></li>
          <% end %>
          <li class="list-option <%= 'list-current' if @filter_result.locale && !showing_request_locale %>">
            <select id="discussion-locale">
              <option></option>
              <% @possible_locales.each do |l| %>
                <option data-url="<%= current_path_with_params(show_locale: l.code, page: nil) %>" value="<%= l.code %>" <%= 'selected' if !showing_request_locale && @filter_result.locale && @filter_result.locale.id == l.id %>><%= l.display_text %></option>
              <% end %>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
