<%- title t('discussions.title') %>

<div class="sidebarred">
  <div class="sidebarred-main-content discussion-list-main-content">
    <div class="open-sidebar sidebar-collapsed">
      ☰
    </div>

    <h2><%= t('discussions.title') %></h2>
    <% if @discussions.empty? %>
      <p><%=t('discussions.no_discussions')%></p>
    <% else %>
      <div class="discussion-list <%= 'discussion-list-logged-in' if current_user %>">
        <%= render collection: @discussions, partial: 'discussions/discussion', locals: { show_script: true, discussion_ids_read: @discussion_ids_read } %>
      </div>
      <%= will_paginate @discussions %>
    <% end %>
  </div>

  <div class="sidebar collapsed">
    <div class="close-sidebar">
      <div class="sidebar-title"><%= t('common.listing_options_title') %></div>
      <div>☰</div>
    </div>

    <div class="list-option-groups">
      <p>
        <%= link_to t('discussions.new_button'), new_discussion_path, class: 'list-option-button' %>
      </p>

      <% if current_user %>
        <div class="list-option-group">
          <%= t('discussions.user_filter.label') %>
          <ul>
            <% if params[:me].nil? %>
              <li class="list-option list-current"><%= t('discussions.user_filter.all') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.user_filter.all'), current_path_with_params(me: nil, page: nil) %></li>
            <% end %>
            <% if params[:me] == 'started' %>
              <li class="list-option list-current"><%= t('discussions.user_filter.discussion_by_me') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.user_filter.discussion_by_me'), current_path_with_params(me: 'started', page: nil) %></li>
            <% end %>
            <% if params[:me] == 'comment' %>
              <li class="list-option list-current"><%= t('discussions.user_filter.comment_by_me') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.user_filter.comment_by_me'), current_path_with_params(me: 'comment', page: nil) %></li>
            <% end %>
            <% if current_user.scripts.any? %>
              <% if params[:me] == 'script' %>
                <li class="list-option list-current"><%= t('discussions.user_filter.on_my_scripts') %></li>
              <% else %>
                <li class="list-option"><%= link_to t('discussions.user_filter.on_my_scripts'), current_path_with_params(me: 'script', page: nil) %></li>
              <% end %>
            <% end %>
            <% if current_user.discussion_subscriptions.any? %>
              <% if params[:me] == 'subscribed' %>
                <li class="list-option list-current"><%= t('discussions.user_filter.subscribed') %></li>
              <% else %>
                <li class="list-option"><%= link_to t('discussions.user_filter.subscribed'), current_path_with_params(me: 'subscribed', page: nil) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @by_user %>
        <div class="list-option-group">
          <ul>
            <li class="list-option"><%= link_to t('discussions.other_user_filter.all'), current_path_with_params(user: nil, page: nil) %></li>
            <li class="list-option list-current"><%= t('discussions.other_user_filter.comments_by', user: @by_user.name) %></li>
          </ul>
        </div>
      <% end %>

      <div class="list-option-group">
        <%= t('discussions.category_filter.label') %>
        <ul>
          <% if @category.nil? %>
            <li class="list-option list-current"><%= t('discussions.category_filter.all') %></li>
          <% else %>
            <li class="list-option"><%= link_to t('discussions.category_filter.all'), discussions_path(safe_params(category: nil, page: nil, locale: nil)) %></li>
          <% end %>
          <% DiscussionCategory.all.each do |dc| %>
            <% if dc == @category %>
              <li class="list-option list-current"><%= t("discussions.categories.#{dc.category_key}.name") %></li>
            <% else %>
              <li class="list-option"><%= link_to t("discussions.categories.#{dc.category_key}.name"), category_discussion_index_path(category: dc, page: nil) %></li>
            <% end %>
          <% end %>
          <% if @category == 'no-scripts' %>
            <li class="list-option list-current"><%= t("discussions.categories.no-scripts.name") %></li>
          <% else %>
            <li class="list-option"><%= link_to t("discussions.categories.no-scripts.name"), category_discussion_index_path(category: 'no-scripts', page: nil) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>