<div class="sidebarred">
  <div class="sidebarred-main-content discussion-list-main-content">
    <div class="open-sidebar sidebar-collapsed">
      ☰
    </div>

    <h2>Discussions</h2>
    <div class="discussion-list">
      <%= render collection: @discussions, partial: 'discussions/discussion', locals: { show_script: true } %>
    </div>
    <%= will_paginate @discussions %>
  </div>

  <div class="sidebar collapsed">
    <div class="close-sidebar">
      <div class="sidebar-title"><%= t('common.listing_options_title') %></div>
      <div>☰</div>
    </div>

    <div class="list-option-groups">
      <% if current_user %>
        <div class="list-option-group">
          <%= t('discussions.user_filter.label') %>
          <ul>
            <% if params[:me].nil? %>
              <li class="list-option list-current"><%= t('discussions.user_filter.all') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.user_filter.all'), current_path_with_params(me: nil) %></li>
            <% end %>
            <% if params[:me] == 'started' %>
              <li class="list-option list-current"><%= t('discussions.user_filter.discussion_by_me') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.user_filter.discussion_by_me'), current_path_with_params(me: 'started') %></li>
            <% end %>
            <% if params[:me] == 'comment' %>
              <li class="list-option list-current"><%= t('discussions.user_filter.comment_by_me') %></li>
            <% else %>
              <li class="list-option"><%= link_to t('discussions.user_filter.comment_by_me'), current_path_with_params(me: 'comment') %></li>
            <% end %>
            <% if current_user.scripts.any? %>
              <% if params[:me] == 'script' %>
                <li class="list-option list-current"><%= t('discussions.user_filter.on_my_scripts') %></li>
              <% else %>
                <li class="list-option"><%= link_to t('discussions.user_filter.on_my_scripts'), current_path_with_params(me: 'script') %></li>
              <% end %>
            <% end %>
            <% if current_user.discussion_subscriptions.any? %>
              <% if params[:me] == 'subscribed' %>
                <li class="list-option list-current"><%= t('discussions.user_filter.subscribed') %></li>
              <% else %>
                <li class="list-option"><%= link_to t('discussions.user_filter.subscribed'), current_path_with_params(me: 'subscribed') %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @by_user %>
        <div class="list-option-group">
          <ul>
            <li class="list-option"><%= link_to t('discussions.other_user_filter.all'), current_path_with_params(user: nil) %></li>
            <li class="list-option list-current"><%= t('discussions.other_user_filter.comments_by', user: @by_user.name) %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>