<% if @script %>
  <%- title t('scripts.feedback_title', script_name: @script.name(request_locale)) %>
  <%- description 'Feedback on ' + @script.name(request_locale) %>
<% end %>

<% if @discussion.script %>
  <p class="discussion-up-level">
    <%= link_to t('discussions.back_to_feedback', script: @discussion.script.name(request_locale)), feedback_script_path(@discussion.script) %>
  </p>
<% end %>

<div class="discussion-header">
  <h3>
    <% if @discussion.actual_rating? %>
      <%= t('discussions.review_heading_html', user: render_poster(@discussion), rating: t("discussions.ratings.#{@discussion.rating_key}")) %>
    <% else %>
      <%= t('discussions.question_heading_html', user: render_poster(@discussion)) %>
    <% end %>
  </h3>
  <% if current_user %>
    <div class="discussion-actions">
      <div class="discussion-subscription-links <%= current_user.subscribed_to?(@discussion) ? 'discussion-subscribed' : 'discussion-not-subscribed' %>">
        <%= link_to t('discussions.subscribe'), scoped_subscribe_path(@discussion), method: :POST, remote: true, class: 'discussion-subscribe' %>
        <%= link_to t('discussions.unsubscribe'), scoped_unsubscribe_path(@discussion), method: :POST, remote: true, class: 'discussion-unsubscribe' %>
      </div>
    </div>
  <% end %>
</div>

<% if @comment&.errors&.any? %>
  <div class="alert">
    <p><%=t('common.error_preamble')%></p>
    <ul class="errors">
      <% @comment.errors.full_messages.each do |m| %>
        <li><%=m%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% @discussion.comments.reject(&:new_record?).each do |comment| %>
  <% by_current_user = comment.poster && current_user == comment.poster %>
  <div class="comment" id="comment-<%= comment.id %>">
    <div class="comment-meta">
      <div class="comment-meta-item comment-meta-item-main">
        <%= render_poster(comment) %>
      </div>
      <div class="comment-meta-item">
        <%= link_to('ยง', { anchor: "comment-#{comment.id}" }, { class: 'self-link' }) %>
      </div>
      <div class="comment-meta-item">
        <%= t('discussions.comment_date', date: markup_date(comment.created_at)).html_safe %>
      </div>
      <% if comment.edited_at %>
        <div class="comment-meta-item">
          <%= t('discussions.comment_edit_date', date: markup_date(comment.edited_at)).html_safe %>
        </div>
      <% end %>
      <div class="comment-meta-spacer"></div>
      <% if by_current_user && !comment.new_record? %>
        <div class="comment-meta-item">
          <%= link_to t('discussions.edit_comment_link'), '#', class: 'edit-comment', data: { comment_container: "comment-#{comment.id}" } %>
        </div>
      <% end %>
      <% if current_user&.moderator? %>
        <div class="comment-meta-item">
          <% if comment.discussion.script && !comment.new_record? %>
            <% if comment.first_comment? %>
              <%= link_to t('discussions.delete_discussion'), script_discussion_path(comment.discussion.script, comment.discussion.id), method: :DELETE, data: { confirm: 'Are you sure you want to delete this discussion?' } %>
            <% else %>
              <%= link_to t('discussions.delete_comment'), script_discussion_comment_path(comment.discussion.script, comment.discussion.id, comment.id), method: :DELETE, data: { confirm: 'Are you sure you want to delete this comment?' } %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% unless by_current_user || comment.new_record? %>
        <div class="comment-meta-item">
          <%= link_to t('reports.report_comment'), new_report_path(item_class: 'comment', item_id: comment.id), class: 'report-link' %>
        </div>
      <% end %>
    </div>
    <div class="user-content">
      <%= format_user_text(comment.text, comment.text_markup) %>
      <% if comment.attachments.any? %>
        <div class="user-screenshots">
          <% comment.attachments.each do |attachment| %>
            <%= link_to attachment, data: { jslghtbx: url_for(attachment), jslghtbx_group: "screenshots-#{attachment.id}" } do %><%= image_tag attachment.variant(resize_to_limit: [200, 200]) %><% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if by_current_user %>
      <div class="edit-comment-form">
        <%= form_with(model: comment, url: scoped_comment_path(comment), method: :PATCH) do |f| %>
          <h3><%= t('discussions.edit_comment_header') %></h3>
          <%= render partial: 'discussions/comment_entry', locals: { f: f } %>
          <% if comment.first_comment? %>
            <%= f.fields_for comment.discussion do |df| %>
              <%= render partial: 'discussions/rating_entry', locals: { f: df } %>
            <% end %>
          <% end %>
          <%= f.submit t('discussions.update_comment_submit') %>
          <%= f.submit t('discussions.cancel_update_comment'), class: 'cancel-edit-comment', data: { comment_container: "comment-#{comment.id}" } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="post-reply">
  <h3><%= t('discussions.new_comment_heading') %></h3>
  <% if current_user && @comment %>
    <%= form_with(model: @comment, url: scoped_comment_create_path(@discussion), method: :POST) do |f| %>
      <%= render partial: 'discussions/comment_entry', locals: { f: f } %>
      <%= render partial: 'discussions/subscribe', locals: { subscribe: @subscribe} %>
      <%= f.submit t('discussions.new_comment_submit') %>
    <% end %>
  <% else %>
    <p>
      <%= link_to t('discussions.sign_in_to_post_comment'), new_user_session_path(return_to: request.fullpath) %>
    </p>
  <% end %>
</div>