<% @discussion.comments.each do |comment| %>
  <div class="comment" id="comment-<%= comment.id %>">
    At <%= l(comment.created_at) %>, <%= render_poster(comment) %> said:
    <div class="user-content">
      <%= link_to t('reports.report_comment'), new_report_path(item_class: 'comment', item_id: comment.id), class: 'report-link' %>
      <%= format_user_text(comment.text, comment.text_markup) %>
    </div>
  </div>
<% end %>
<%= form_with(model: @comment, url: scoped_comment_create_path(@discussion), method: :POST) do |f| %>
  <%= f.label 'Post reply' %>
  <%= render partial: 'discussions/comment_entry', locals: { f: f } %>
  <%= f.submit %>
<% end %>
