<section class="multiform-page">
  <h3>Checkup</h3>

  <p>These are suggestions to improve your script on <%= site_name %>. These are not <%= link_to 'rules', help_code_rules_path %>; your script won't be deleted if you don't follow them.</p>

  <ul class="checkup-list">
    <% has_license = @script.license.present? %>
    <li class="<%= 'good-check' if has_license %>">Specify a <%= link_to '<code>@license</code>'.html_safe, help_meta_keys_path(anchor: 'meta-license') %>. This lets others know whether and how they can share and modify your code.</li>

    <% non_domain_applies_tos = @script.script_applies_tos.reject(&:domain?) %>
    <li class="<%= 'good-check' if non_domain_applies_tos.none? %>">

      Avoid the use globs and regular expressions in the domain part of <%= link_to '<code>@include</code>'.html_safe, help_meta_keys_path(anchor: 'meta-include') %> and <%= link_to '<code>@match</code>'.html_safe, help_meta_keys_path(anchor: 'meta-include') %>. These make it hard for <%= site_name %> to properly classify your script.
      <% if non_domain_applies_tos.any? %>
        Non-domain specific includes used: <%= safe_join(non_domain_applies_tos.map(&:site_application).map(&:text).map {|t| content_tag(:code, t) }, ', ') %>
      <% end %>
    </li>

    <% has_additional_info = @script.localized_additional_infos.any? %>
    <li class="<%= 'good-check' if has_additional_info %>">
      Include additional info - list out your features, provide screenshots, etc. so your users know exactly what your script does.
    </li>
  </ul>
</section>
