<span class="good-rating-count" title="<%= t('scripts.good_rating_explanation') %>"><%= script.good_ratings %></span>
<span class="ok-rating-count" title="<%= t('scripts.ok_rating_explanation') %>"><%= script.ok_ratings %></span>
<span class="bad-rating-count" title="<%= t('scripts.bad_rating_explanation') %>"><%= script.bad_ratings %></span>
