<%- title t('scripts.derivatives_title', :script_name => @script.name) %>
<%- description 'Potential derivatives of ' + @script.name %>

<p><%=t('scripts.derivatives_intro')%></p>

<h3><code>@namespace</code></h3>

<% if !@script.namespace.nil? %>
	<%= render partial: 'derivatives_list', locals: { description: t('scripts.derivatives_namespace_matches_info_html', :namespace => "@namespace #{@script.namespace}"), script: @script, scripts: @same_namespaces } %>
<% end %>

<h3><code>@name</code></h3>

<%= render partial: 'derivatives_list', locals: { description: t('scripts.derivatives_name_matches_info'), script: @script, scripts: @similar_name_scripts } %>

<h3>Code</h3>

<% check_date = @script.script_similarities.minimum(:checked_at) %>
<% enqueued = ScriptDuplicateCheckerJob.currently_queued_script_ids.include?(@script.id) %>

<p>
  We periodically check all other scripts to find the ones most similar to yours. We also check whenever you post an
  update to your script and upon your request. You can use this list to find unauthorized copies and report them for
  removal.
</p>

<% if check_date %>
  <p>Scores range from 0.000 (completely different) to 1.000 (identical).</p>
  <ul>
    <% @script.script_similarities.includes(:other_script).order(similarity: :desc, id: :asc).each do |ss| %>
      <li>
        <%= number_with_precision(ss.similarity, precision: 3) %>
        <%= link_to '[Diff]', admin_script_path(@script, compare: script_path(ss.other_script), anchor: 'script-comparison') %>:
        <%= link_to(ss.other_script.name(I18n.locale), ss.other_script) %>
      </li>
    <% end %>
  </ul>
<% end %>

<p>
  <% if enqueued %>
    <% if check_date %>
      We last checked for scripts similar to yours on <%= markup_date(check_date) %>. We will check again shortly.
    <% else %>
      We will check for scripts similar to yours shortly.
    <% end %>
  <% elsif check_date %>
    We last checked for scripts similar to yours on <%= markup_date(check_date) %>.
  <% else %>
    We have not yet checked for scripts similar to yours.
  <% end %>

  <% if !enqueued %>
    <% if check_date.nil? %>
      <%= button_to 'Check now', request_duplicate_check_script_path(@script), method: :POST %>
    <% elsif check_date < 1.day.ago %>
      <%= button_to 'Recheck now', request_duplicate_check_script_path(@script), method: :POST %>
    <% end %>
  <% end %>
</p>

<p>You can also enter some search terms for a live similarity check. The search begins with the most popular scripts matching your query, not the most similar.</p>

<%= form_with(url: similar_search_script_path(@script, format: :json), method: :GET, local: false, html: { id: 'similar-search-form' }) do |f| %>
  <%= f.search_field :terms, required: true %>
  <%= f.submit 'Search' %>
<% end %>

<ul id="similar-search-results">
  <li id="similar-search-more">
    <%= form_with(url: similar_search_script_path(@script, format: :json), method: :GET, local: false, html: { id: 'similar-search-form', data: { 'current-script' => @script.id } }) do |f| %>
      <%= f.hidden_field :terms %>
      <%= f.hidden_field :page %>
      <%= f.submit 'More Results' %>
    <% end %>
  </li>
  <li id="similar-search-none">There are no results matching your query.</li>
</ul>
