<%- title t('scripts.derivatives_title', :script_name => @script.name) %>
<%- description 'Potential derivatives of ' + @script.name %>

<p><%=t('scripts.derivatives_intro')%></p>

<h3><code>@namespace</code></h3>

<% if !@script.namespace.nil? %>
	<%= render partial: 'derivatives_list', locals: { description: t('scripts.derivatives_namespace_matches_info_html', :namespace => "@namespace #{@script.namespace}"), script: @script, scripts: @same_namespaces } %>
<% end %>

<h3><code>@name</code></h3>

<%= render partial: 'derivatives_list', locals: { description: t('scripts.derivatives_name_matches_info'), script: @script, scripts: @similar_name_scripts } %>

<h3>Code</h3>

<% if @script.script_similarities.any? %>
  <p>We checked all other scripts on <%= markup_date(@script.script_similarities.minimum(:checked_at)) %> to see which were most similar to yours. A score of 1.000 means identical.</p>
  <ul>
    <% @script.script_similarities.includes(:other_script).order(similarity: :desc, id: :asc).each do |ss| %>
      <li>
        <%= number_with_precision(ss.similarity, precision: 3) %>
        <%= link_to '[Diff]', admin_script_path(@script, compare: script_path(ss.other_script), anchor: 'script-comparison') %>:
        <%= link_to(ss.other_script.name(I18n.locale), ss.other_script) %>
      </li>
    <% end %>
  </ul>
  <p>Enter some search terms for a live similarity check. The search begins with the most popular scripts matching your query, not the most similar.</p>
<% else %>
  <p>Enter some search terms and see how similar other scripts' code is. A score of 1.000 means identical. The search begins with the most popular scripts matching your query, not the most similar.</p>
<% end %>

<%= form_with(url: similar_search_script_path(@script, format: :json), method: :GET, local: false, html: { id: 'similar-search-form' }) do |f| %>
  <%= f.search_field :terms, required: true %>
  <%= f.submit 'Search' %>
<% end %>

<ul id="similar-search-results">
  <li id="similar-search-more">
    <%= form_with(url: similar_search_script_path(@script, format: :json), method: :GET, local: false, html: { id: 'similar-search-form', data: { 'current-script' => @script.id } }) do |f| %>
      <%= f.hidden_field :terms %>
      <%= f.hidden_field :page %>
      <%= f.submit 'More Results' %>
    <% end %>
  </li>
  <li id="similar-search-none">There are no results matching your query.</li>
</ul>
