<%- title @script.name + ' - Version diff' %>
<%- description "Differences in #{@script.name} between #{@old_version.version} and #{@new_version.version}" %>

<h3>Diff</h3>
<p>
	Old: <%=link_to('v' + @old_version.version, script_show_code_path(@script, :version =>  @old_version.id))%> <%=markup_date(@old_version.created_at)%> <%=@old_version.changelog%><br>
	New: <%=link_to('v' + @new_version.version, script_show_code_path(@script, :version =>  @new_version.id))%> <%=markup_date(@new_version.created_at)%> <%=@new_version.changelog%><br>
</p>

<% if @diff.nil? or @diff.empty? %>
	<p>No differences found.</p>
<% else %>
	<%=@diff%>
<% end %>
