<%- title @script.name + ' - Version diff' %>
<%- description "Differences in #{@script.name} between #{@old_version.version} and #{@new_version.version}" %>

<h3>Diff</h3>
<p>
	Old: <%=link_to(@old_version.version, script_show_code_path(@script, :version =>  @old_version.id))%> <%=@old_version.changelog%><br>
	New: <%=link_to(@new_version.version, script_show_code_path(@script, :version =>  @new_version.id))%> <%=@new_version.changelog%><br>
</p>

<% if @diff.nil? or @diff.empty? %>
	<p>No differences found.</p>
<% else %>
	<%=@diff%>
<% end %>
