<%- title @script.name + ' - Feedback' %>
<%- description 'Feedback on ' + @script.name %>

<% if @script.discussions.empty? %>
	<p id="no-discussions">No discussions posted yet. <a id="start-discussion" href="/forum/post/discussion?script=<%=@script.id%>" rel="nofollow">Be the first to discuss this script.</a></p>
<% else %>
	<ul id="discussions">
		<% @script.discussions.reverse.each do |discussion| %>
			<li class="<%=discussion_class(discussion)%>"><%=link_to discussion.name, discussion.url, {:rel => 'nofollow'}%> by <%=link_to discussion.original_poster.name, user_path(discussion.original_poster), {:rel => 'nofollow'}%><%if !discussion.created.nil?%>, <%=markup_date(discussion.created)%><% end %></li>
		<% end %>
	</ul>

	<p id="no-discussions"><a id="start-discussion" href="/forum/post/discussion?script=<%=@script.id%>" rel="nofollow">Start a new discussion on this script.</a></p>
<% end %>
