<% if params[:site].nil? or @scripts.empty? %>
	<%- title 'User scripts on Greasy Fork' %>
	<%- description 'List of user scripts available on Greasy Fork' %>
<% else %>
	<%- title "User scripts for #{params[:site]} on Greasy Fork" %>
	<%- description "List of user scripts for #{params[:site]} available on Greasy Fork" %>
<% end %>

<p id="script-list-sort">Sort by:
	<%=script_list_link('Daily installs', nil, params[:site])%> |
	<%=script_list_link('Total installs', 'total_installs', params[:site])%> |
	<%=script_list_link('Created date', 'created', params[:site])%> |
	<%=script_list_link('Updated date', 'updated', params[:site])%>
</p>

<p id="script-list-filter">Showing:
	<span class="script-filter-option">
		<%=script_list_link('All', params[:sort], nil)%>
		|
	</span>
	<% current_site_is_top = false
	(0..2).each do |i|
		current_site_is_top = true if @by_sites[i].display_text == params[:site] %>
		<%=script_list_link(@by_sites[i].display_text, params[:sort], @by_sites[i].display_text)%>
		|
	<% end %>
	<% if !current_site_is_top and !params[:site].nil? and !@scripts.empty? %>
		<%=script_list_link(params[:site], params[:sort], params[:site])%>
		|
	<% end %>
	<%= link_to 'More...', site_list_scripts_path %>
</p>

<% if @scripts.empty? %>
	<p>No scripts found.</p>
<% else %>
	<ol id="browse-script-list" class="script-list">
		<%= render partial: 'script', collection: @scripts %>
	</ol>
<% end %>

<%= will_paginate @scripts %>

<p><%=link_to 'Post a new script', new_script_version_path %></p>

