<%- title @script.name(request_locale) %>
<%- description @script.description(request_locale) %>

<p>
  <%= it('scripts.post_install.info_html',
      script: render_script(@script),
      help_link: @script.js? ? help_installing_user_scripts_path : help_installing_user_styles_path,
      site_name: site_name,
      feedback_link: feedback_script_path(@script, anchor: 'post-discussion')) %>
</p>

<% if promoted_script(@script) %>
  <div class="post-install-promoted-script">
    <hr>
    <p><%= t('scripts.post_install.promoted_script_intro') %></p>
    <h2><%= render_script(promoted_script(@script)) %></h2>
    <p><%= promoted_script(@script).description(request_locale) %></p>
    <div class="post-install-promoted-install">
      <%= render partial: 'install_button', locals: {script_version: promoted_script(@script).script_versions.last} %>
    </div>
  </div>
<% elsif (similar_scripts = @script.similar_scripts(script_subset: script_subset, locale: request_locale)).any? %>
  <p>
    <%= t('scripts.related_scripts') %>
  </p>
  <ul>
    <% similar_scripts.each do |script| %>
      <li><%= t('scripts.post_install.similar_script_html', name: render_script(script), description: script.description(request_locale)) %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'shared/in_page_ad', locals: { ad_method: @ad_method, div_id: 'script-after-install-ad', adsense_slot: '2579817802', ea_div_id: 'script-after-install' } %>
