<%- title @script.name %>
<%- description @script.description %>

<% if @script.active? 
	case @script.script_type_id
		when 1, 2 %>
			<div id="install-area">
				<%=link_to 'Install', script_user_js_path(@script, :version => params[:version], :name => @script.url_name), {:class => 'install-link', 'data-ping-url' => url_for(script_install_ping_path(@script, :authenticity_token => session[:_csrf_token])), 'data-is-previous-version' => !params[:version].nil?}%><br><%=link_to 'How to install', help_installing_user_scripts_path, {:class => 'install-help-link'}%>
			</div>
		<% when 3 %>
			<p>
				This script should not be not be installed directly. It is a library for other scripts to include the meta directive
				<% if params[:version].nil? %>
					<code>// @require <%=script_user_js_path(@script, :version => @script_version.id, :name => @script.url_name, :only_path => false)%></code></p>
				<% else %>
					<code>// @require <%=script_user_js_path(@script, :version => params[:version], :name => @script.url_name, :only_path => false)%></code></p>
				<% end %>
		<% when 4 %>
			<p>This script has been deleted.</p>
	<% end %>
<% elsif !params[:version].nil? %>
	<p id="under-review-notice">This version of the script was under review.</p>
<% else %>
	<p id="under-review-notice">This script is currently under review.</p>
<% end %>

<dl id="script-meta">
	<dt class="script-show-author">Author</dt>
	<dd class="script-show-author"><%=link_to @script.user.name, @script.user%></dd>
	<% if @script.script_type_id != 3 %>
	<dt class="script-show-daily-installs">Daily installs</dt>
	<dd class="script-show-daily-installs"><%=@script.daily_installs%></dd>
	<dt class="script-show-total-installs">Total installs</dt>
	<dd class="script-show-total-installs"><%=@script.total_installs%></dd>
	<% end %>
	<dt class="script-show-created-date">Created</dt>
	<dd class="script-show-created-date"><%=markup_date(@script.created_at)%></dd>
	<dt class="script-show-updated-date">Updated</dt>
	<dd class="script-show-updated-date"><%=markup_date(@script.code_updated_at)%></dd>
</dl>

<div id="additional-info"><%=format_user_text(@script.additional_info, @script.additional_info_markup)%></div>
