<%- title @script.name %>
<%- description @script.description %>

<% if @script.active? 
	case @script.script_type_id
		when 1, 2 %>
			<div id="install-area">
				<%=link_to 'Install this script', params[:version].nil? ? script_user_js_path(@script, :name => @script.url_name) : script_user_js_path(@script, :version => params[:version], :name => @script.url_name) + '&d=.user.js', {:class => 'install-link', 'data-ping-url' => url_for(script_install_ping_path(@script, :authenticity_token => session[:_csrf_token])), 'data-is-previous-version' => !params[:version].nil?}%> <%=link_to 'How to install', help_installing_user_scripts_path, {:class => 'install-help-link'}%>
			</div>
		<% when 3 %>
			<p>
				This script should not be not be installed directly. It is a library for other scripts to include the meta directive
				<% if params[:version].nil? %>
					<code>// @require <%=script_library_js_path(@script, :version => @script_version.id, :name => @script.url_name, :only_path => false)%></code></p>
				<% else %>
					<code>// @require <%=script_library_js_path(@script, :version => params[:version], :name => @script.url_name, :only_path => false)%></code></p>
				<% end %>
		<% when 4 %>
			<p>This script has been deleted.</p>
	<% end %>
<% elsif !params[:version].nil? %>
	<p id="under-review-notice">This version of the script was under review.</p>
<% else %>
	<p id="under-review-notice">This script is currently under review.</p>
<% end %>

<div id="script-meta">
	<dl id="script-stats">
		<dt class="script-show-author">Author</dt>
		<dd class="script-show-author"><%=link_to @script.user.name, @script.user%></dd>
		<% if @script.script_type_id != 3 %>
		<dt class="script-show-daily-installs">Daily installs</dt>
		<dd class="script-show-daily-installs"><%=@script.daily_installs%></dd>
		<dt class="script-show-total-installs">Total installs</dt>
		<dd class="script-show-total-installs"><%=@script.total_installs%></dd>
		<% end %>
		<dt class="script-show-created-date">Created</dt>
		<dd class="script-show-created-date"><%=markup_date(@script.created_at)%></dd>
		<dt class="script-show-updated-date">Updated</dt>
		<dd class="script-show-updated-date"><%=markup_date(@script.code_updated_at)%></dd>
		<dt class="script-show-license">License</dt>
		<dd class="script-show-license">
			<%if @script.license.nil?%>
				<% if @script.license_text.nil?%>
					<i>N/A</i>
				<% else %>
					<%=@script.license_text%>
				<% end %>
			<% else %>
				<%=@script.license.html.html_safe%>
			<% end %>
		</dd>
	</dl>
	<dl id="script-applies-to">
		<dt class="script-show-applies-to">Applies to</dt>
		<dd class="script-show-applies-to"><%= (@script.script_applies_tos.empty? ? 'All sites' : @script.script_applies_tos.map{|s|s.display_text.nil? ? "<code>#{h(s.pattern)}</code>".html_safe : s.display_text}.uniq.sort.map{|s| h(s)}.join(', ')).html_safe %></dd>
	</dl>
</div>

<% if !@script.additional_info.nil? and !@script.additional_info.empty? %>
	<div id="additional-info">
		<h3>Author's Description</h3>
		<div>
			<%=format_user_text(@script.additional_info, @script.additional_info_markup)%>
		</div>
	</div>
<% end %>
