<%- title t('scripts.code_title', :script_name => @script.name(I18n.locale)) %>
<%- description 'Source code for ' + @script.name(I18n.locale) %>

<%= stylesheet_link_tag "coderay", media: "all" %>

<%=render :partial => 'install', :locals => {:script => @script, :script_version => @script_version}%>

<div id="script-feedback-suggestion">
	<%=t('scripts.feedback_suggestion_html', feedback_link: link_to(t('scripts.feedback_link_text'), "#{forum_path}post/discussion?script=#{@script.id}", rel: :nofollow))%>
</div>

<% if @highlighted_code.nil? && !SyntaxHighlightedCode.can_highlight?(@code) %>
	<p><%=t('scripts.code_highlighting_disabled', :size => number_to_human_size(Rails.configuration.syntax_highlighting_limit))%></p>
<% end %>

<div id="code-container" class="max-screen-height">
	<% if @highlighted_code.nil? %>
		<pre class="CodeRay"><%=@code%></pre>
	<% else %>
		<%=@highlighted_code.html_safe%>
	<% end %>
</div>
