<%- title @script.name %>
<%- description @script.description %>

<% render "scripts/_install_script" %>

<div id="script-meta">
	<dl id="script-stats">
		<dt class="script-show-author">Author</dt>
		<dd class="script-show-author"><%=link_to @script.user.name, @script.user%></dd>
		<% if @script.script_type_id != 3 and params[:version].nil? %>
		<dt class="script-show-daily-installs">Daily installs</dt>
		<dd class="script-show-daily-installs"><%=@script.daily_installs%></dd>
		<dt class="script-show-total-installs">Total installs</dt>
		<dd class="script-show-total-installs"><%=@script.total_installs%></dd>
		<% end %>
		<dt class="script-show-created-date">Created</dt>
		<dd class="script-show-created-date"><%=markup_date(@script.created_at)%></dd>
		<dt class="script-show-updated-date">Updated</dt>
		<dd class="script-show-updated-date"><%=markup_date(@script.code_updated_at)%></dd>
		<dt class="script-show-license">License</dt>
		<dd class="script-show-license">
			<%if @script.license.nil?%>
				<% if @script.license_text.nil?%>
					<i>N/A</i>
				<% else %>
					<%=@script.license_text%>
				<% end %>
			<% else %>
				<%=@script.license.html.html_safe%>
			<% end %>
		</dd>
	</dl>
	<dl id="script-applies-to">
		<dt class="script-show-applies-to">Applies to</dt>
		<dd class="script-show-applies-to">
			<% if @script.script_applies_tos.empty? %>
				All sites
			<% else %>
				<%=
					(
					@script.script_applies_tos.select{|s|s.domain}.map{|s|h(s.text)} +
					@script.script_applies_tos.select{|s|!s.domain}.map{|s| "<code>#{h(s.text)}</code>".html_safe}
					).join(', ').html_safe%>
			<% end %>
		</dd>
	</dl>
</div>

<% if !@script.additional_info.nil? and !@script.additional_info.empty? %>
	<div id="additional-info">
		<h3>Author's Description</h3>
		<div>
			<%=format_user_text(@script.additional_info, @script.additional_info_markup)%>
		</div>
	</div>
<% end %>
