<%- title @script.name(I18n.locale) %>
<%- description @script.description(I18n.locale) %>

<% if @script.active? 
	case @script.script_type_id
		when 1, 2 %>
			<div id="install-area">
				<%=link_to t('scripts.install'), params[:version].nil? ? script_user_js_path(@script, :name => @script.url_name, :locale_override => nil) : script_user_js_path(@script, :version => params[:version], :name => @script.url_name, :locale_override => nil) + '&d=.user.js', {:class => 'install-link', 'data-ping-url' => script_install_ping_path(@script, :authenticity_token => session[:_csrf_token], :locale_override => nil), 'data-is-previous-version' => !params[:version].nil?, :rel => 'nofollow'}%><%=link_to t('scripts.install_help'), help_installing_user_scripts_path, {:class => 'install-help-link', :title => t('scripts.install_help_title'), :rel => 'nofollow'}%>

				<% if user_signed_in?
					sets_direct_inclusion = []
					sets_direct_exclusion = []
					sets_indirect_inclusion = []
					sets_not_included = []
					current_user.script_sets.each do |set|
						if set.child_script_inclusions.include?(@script)
							sets_direct_inclusion << set
							next
						end
						if set.child_script_exclusions.include?(@script)
							sets_direct_exclusion << set
							next
						end
						set_script_ids = Rails.cache.fetch(set) do
							set.scripts.map{|s| s.id}
						end
						if set_script_ids.include?(@script.id)
							sets_indirect_inclusion << set
						else
							sets_not_included << set
						end
					end
					in_sets = sets_direct_inclusion + sets_indirect_inclusion
					user_has_favorites_set = current_user.script_sets.find{|s| s.favorite}
					%>
					<%=form_tag(add_to_script_set_path, {:class => 'script-in-sets'}) do |f| %>
						<% if in_sets.empty? %>
							<%=t('scripts.sets_label_no_sets')%>
						<% else %>
							<%=t('scripts.sets_label')%>
							<%=ScriptSet.favorites_first(in_sets).map{|s| link_to(s.display_name, scripts_path(:set => s.id)).html_safe}.join(', ').html_safe%>
						<% end %>
						<select name="action-set">
							<% if !user_has_favorites_set %>
								<option value="ai-fav"><%=t('scripts.sets_add_inclusion', :set_name => t('script_sets.favorites_name'))%></option>
							<% end %>
							<% ScriptSet.favorites_first(sets_direct_inclusion).each do |set| %>
								<option value="ri-<%=set.id%>"><%=t('scripts.sets_remove_inclusion', :set_name => set.display_name)%></option>
							<% end
							sets_direct_exclusion.each do |set| %>
								<option value="re-<%=set.id%>"><%=t('scripts.sets_remove_exclusion', :set_name => set.display_name)%></option>
							<% end
							sets_indirect_inclusion.each do |set| %>
								<option value="ae-<%=set.id%>"><%=t('scripts.sets_add_exclusion', :set_name => set.display_name)%></option>
							<% end
							ScriptSet.favorites_first(sets_not_included).each do |set| %>
								<option value="ai-<%=set.id%>"><%=t('scripts.sets_add_inclusion', :set_name => set.display_name)%></option>
							<% end %>
							<option value="ai-new"><%=t('scripts.sets_add_to_new')%></option>
						</select>
						<input type="hidden" name="script_id" value="<%=@script.id%>">
						<input type="submit" value="→">
					<% end %>
				<% end %>
			</div>

		<% when 3 %>
			<p>
				<% if params[:version].nil?
					library_code_snippet = "<code>// @require #{script_library_js_path(@script, :version => @script_version.id, :name => @script.url_name, :only_path => false, :locale_override => nil)}</code>"
				else
					library_code_snippet = "<code>// @require #{script_library_js_path(@script, :version => params[:version], :name => @script.url_name, :only_path => false, :locale_override => nil)}</code>"
				end %>
				<%=t('scripts.library_instructions_html', :code => library_code_snippet.html_safe)%>
			</p>
	<% end %>
<% elsif @script.deleted? %>
	<p><%=t('scripts.deleted_notice')%>	<% if !@script.delete_reason.nil? %><%=@script.delete_reason%><%end%></p>
<% elsif !params[:version].nil? %>
	<p id="under-review-notice"><%=t('scripts.inactive_pending_changes_for_previous_version')%></p>
<% else %>
	<p id="under-review-notice"><%=t('scripts.inactive_pending_changes')%></p>
<% end %>

<% if !@ad_method.nil? %>
	<div class="ad" id="script-show-info-ad">
		<% case @ad_method
			when 'xo' %>
				<script type="text/javascript">
				ad_idzone = "1168022";
				ad_width = "728";
				ad_height = "90";
				</script>
				<script type="text/javascript" src="https://ads.exoclick.com/ads.js"></script>
				<noscript><a href="http://main.exoclick.com/img-click.php?idzone=1168022" target="_blank"><img src="https://syndication.exoclick.com/ads-iframe-display.php?idzone=1168022&output=img&type=728x90" width="728" height="90"></a></noscript>
				<div class="ad-note"><%=t('common.advertisement_note')%> (XO)</div>
			<% when 'pw' %>
				<!-- Project Wonderful Ad Box Code -->
				<div id="pw_adbox_74788_5_0"></div>
				<script type="text/javascript"></script>
				<noscript><map name="admap74788" id="admap74788"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=74788&type=5" shape="rect" coords="0,0,728,90" title="" alt="" target="_blank" /></map>
				<table cellpadding="0" cellspacing="0" style="width:728px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=74788&type=5" style="width:728px;height:90px;border-style:none;" usemap="#admap74788" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=74788&type=5" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table>
				</noscript>
				<!-- End Project Wonderful Ad Box Code -->
				<div class="ad-note"><%=t('common.advertisement_note')%> (PW)</div>
			<% when 'vr' %>
				<!-- Begin Adversal 728x90 - greasyfork.org Code -->
				<SCRIPT SRC="https://ib.adnxs.com/ttj?id=3815628&size=728x90&promo_sizes=468x60,320x50,300x50,216x36" TYPE="text/javascript"></SCRIPT>
				<!-- End Adversal 728x90 - greasyfork.org Code -->
				<div class="ad-note"><%=t('common.advertisement_note')%> (VR)</div>
		<% end  %>
	</div>
<% end %>

<div id="script-meta">
	<dl id="script-stats">
		<dt class="script-show-version"><span><%=t('scripts.version_number')%></span></dt>
		<dd class="script-show-version"><span><%=@script_version.version%></span></dd>
		<dt class="script-show-author"><span><%=t('scripts.author_name')%></span></dt>
		<dd class="script-show-author"><span><%=link_to @script.user.name, @script.user%></span></dd>
		<% if @script.script_type_id != 3 and params[:version].nil? %>
		<dt class="script-show-daily-installs"><span><%=t('scripts.daily_installs')%></span></dt>
		<dd class="script-show-daily-installs"><span><%=number_with_delimiter(@script.daily_installs)%></span></dd>
		<dt class="script-show-total-installs"><span><%=t('scripts.total_installs')%></span></dt>
		<dd class="script-show-total-installs"><span><%=number_with_delimiter(@script.total_installs)%></span></dd>
		<% end %>
		<dt class="script-list-fan-score" title="<%=t('scripts.fan_score_explanation')%>"><span><%=t('scripts.fan_score')%></span></dt>
		<dd class="script-list-fan-score"><span><%=number_with_delimiter(@script.fan_score)%></span></dd>
		<dt class="script-show-created-date"><span><%=t('scripts.created_date')%></span></dt>
		<dd class="script-show-created-date"><span><%=markup_date(@script.created_at)%></span></dd>
		<dt class="script-show-updated-date"><span><%=t('scripts.updated_date')%></span></dt>
		<dd class="script-show-updated-date"><span><%=markup_date(@script.code_updated_at)%></span></dd>
		<dt class="script-show-license"><span><%=t('scripts.license')%></span></dt>
		<dd class="script-show-license"><span><%=@script.license_display%></span></dd>
	</dl>
	<div>
		<dl id="script-applies-to" data-show-more-text="<%=t('common.expander_show_more')%>" data-show-less-text="<%=t('common.expander_show_less')%>">
			<dt class="script-show-applies-to"><span><%=t('scripts.applies_to')%></span></dt>
			<dd class="script-show-applies-to">
				<% if @script.script_applies_tos.empty? %>
					<%=t('scripts.applies_to_all')%>
				<% else %>
					<ul class="inline-list">
						<% script_applies_to_list_contents(@script, @by_sites).each do |script_applies_to_content| %>
							<li><%=script_applies_to_content%></li>
						<% end %>
					</ul>
				<% end %>
			</dd>
		</dl>
	</div>
</div>

<% localized_additional_info = @script.localized_attribute_for('additional_info', I18n.locale)
if !localized_additional_info.nil? %>
	<div id="additional-info">
		<h3><%=t('scripts.additional_info')%></h3>
		<div>
			<%=format_user_text(localized_additional_info.attribute_value, localized_additional_info.value_markup)%>
		</div>
	</div>
<% end %>
