<h2><%= t('conversations.new_title') %></h2>

<%= form_with(model: @conversation, url: user_conversations_path(current_user), method: :POST) do |f| %>
  <%= render partial: 'shared/errors', locals: { resource: @conversation} %>

  <div class="form-control">
    <%= f.label :user_input %>
    <span class="label-note"><%= t('conversations.user_input_note') %></span><br>
    <%= f.text_field :user_input, required: true %>
  </div>

  <%= f.fields_for(:messages) do |mf| %>
    <div class="form-control">
      <%= render partial: 'message_entry', locals: { f: mf } %>
    </div>
  <% end %>

  <%= f.submit t('conversations.new_button') %>
<% end %>
