<%- title 'Report script' %>

<% if @script.script_reports.none? %>
  <p>No reports have been posted about <%= link_to @script.name(request_locale), @script %>.</p>
<% else %>
  <p><%= link_to @script.name(request_locale), @script %> has been reported as violating <%= site_name %>'s rules:</p>
  <ul>
    <% @script.script_reports.each do |report| %>
      <li>
        <%= render report %>
      </li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to 'Create a new report', report_script_path(@script) %></p>
