<%
case @script_report.report_type
  when ScriptReport::TYPE_UNAUTHORIZED_CODE %>
    <%- title 'Report unauthorized copy' %>
    <p>Use the form below for reporting a script (the "unauthorized script") that copies the content from another one (the "originating script") without permission. This form can only be used if all of the following are true:</p>

    <ul>
      <li>The "originating script" license does not permit copies, or the "originating script"'s conditions for copying are not being followed by the "unauthorized script". (Consider <%= link_to 'specifying a license on your script', help_meta_keys_path(anchor: 'meta-license') %> to make clear what is allowed.)</li>
      <li>The "originating script" is posted on <%= site_name %>.</li>
      <li>The "originating script" was posted on <%= site_name %> prior to the "unauthorized script".</li>
      <li>You are the author of the "originating script".</li>
    </ul>

    <p>If any of these are not the case, or if you would like to report this script for a different reason, visit <%= link_to 'the report page', report_script_path(@script), rel: :nofollow %>.</p>

<% when ScriptReport::TYPE_MALWARE %>
    <%- title 'Report malware' %>
    <p>Use the form below for reporting a script that contains malware. This may include, but is not limited to:</p>

    <ul>
      <li>Performing unauthorized actions on one of your accounts or stealing credentials.</li>
      <li>Initiating downloads of other malware.</li>
      <li>Intentionally rendering a website unusable.</li>
    </ul>

    <p>If you would like to report this script for a different reason, visit <%= link_to 'the report page', report_script_path(@script), rel: :nofollow %>.</p>

<% when ScriptReport::TYPE_SPAM %>
  <%- title 'Report spam' %>
  <p>Use the form below for reporting a script that is just spam. This may include, but is not limited to:</p>

  <ul>
    <li>The script entry serves simply to promote an external product or service, and the script code is empty, non-functional, or unrelated.</li>
    <li>The script's code does not contain functionality other than to promote an external product or service.</li>
    <li>The script's description or code points to another location for the "real" script.</li>
  </ul>

  <p>Note that scripts are allowed to contain advertisements in additional to their functionality if these are disclosed in their descriptions.</p>

  <p>If you would like to report this script for a different reason, visit <%= link_to 'the report page', report_script_path(@script), rel: :nofollow %>.</p>

<% end %>

<p>A notice will be sent to the author of <%= link_to @script.name(I18n.locale), @script %> and they will be given the opportunity to rebut your claims. A moderator will then decide whether to delete the script.</p>

<p>Note that abuse of script reports, including repeated unfounded claims, may result in a ban from <%= site_name %>.</p>

<hr>

<% if @script_report.errors.any? %>
  <div class="alert">
    <p><%=t('common.error_preamble')%></p>
    <ul class="errors">
      <% @script_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @script_report, url: script_script_reports_path(@script), method: :post, local: true) do |f| %>
  <%= f.hidden_field :report_type %>

  <div class="form-control">
    <label>
      <% if @script_report.unauthorized_code? %>
        Unauthorized script
      <% else %>
        Script
      <% end %>
    </label><br>
    <%= link_to @script.name(I18n.locale), @script %>
  </div>

  <% if @script_report.unauthorized_code? %>
    <div class="form-control">
      <%= label_tag :reference_script, 'Originating script' %><br>
      <%= f.url_field :reference_script, value: f.object.reference_script ? script_url(f.object.reference_script) : nil, required: f.object.unauthorized_code?, placeholder: "URL on #{site_name}" %>
    </div>
  <% end %>

  <div class="form-control">
    <%= f.label :details, @script_report.unauthorized_code? ? 'Details of code copied' : 'Details' %><br>
    <span class="label-note">
      <%
      case @script_report.report_type
      when ScriptReport::TYPE_UNAUTHORIZED_CODE %>
        Which parts of the script were copied (e.g. entire script, or use line numbers)?
      <% when ScriptReport::TYPE_MALWARE %>
        What does this script do (include line numbers if known)?
      <% end %>
    </span>
    <%= f.text_area :details, required: true %>
  </div>

  <div class="form-control">
    <%= f.label :additional_info, 'Additional info for moderators (optional)' %><br>
    <%= f.text_area :additional_info %>
  </div>
  
  <%= f.submit 'Submit report' %>
<% end %>
