<%- title 'Report script' %>

<%
case @script_report.report_type
when ScriptReport::TYPE_UNAUTHORIZED_CODE %>

  <p><%= link_to "#{site_name}'s rules", help_code_rules_path %> state that scripts' copyright and licenses must be respected. <%= link_to @script_report.script.name(request_locale), @script_report.script %> by <%= @script_report.script.users.map { |u| link_to(u.name, u) }.to_sentence.html_safe %> has been reported as an unauthorized copy of <%= link_to @script_report.reference_script.name(request_locale), @script_report.reference_script %> by <%= @script_report.reference_script.users.map { |u| link_to(u.name, u) }.to_sentence.html_safe %> on <%= @script_report.created_at %>.</p>

<% when ScriptReport::TYPE_MALWARE %>
  <p>
    <%= link_to @script_report.script.name(request_locale), @script_report.script %> by <%= @script_report.script.users.map { |u| link_to(u.name, u) }.to_sentence.html_safe %> has been reported as malware.
  </p>

<% when ScriptReport::TYPE_SPAM %>
  <p>
    <%= link_to @script_report.script.name(request_locale), @script_report.script %> by <%= @script_report.script.users.map { |u| link_to(u.name, u) }.to_sentence.html_safe %> has been reported as spam.
  </p>

<% when ScriptReport::TYPE_OTHER %>
  <p>
    <%= link_to @script_report.script.name(request_locale), @script_report.script %> by <%= @script_report.script.users.map { |u| link_to(u.name, u) }.to_sentence.html_safe %> has been reported as violating <%= link_to "#{site_name}'s rules", help_code_rules_path %>.
  </p>

<% end %>

<p>
  <% if @script_report.auto_reporter %>
    <%= @script_report.auto_reporter %>
  <% else %>
    <%= render_user(@script_report.reporter, @script_report.reporter_id) %> says:
  <% end %>
</p>
<blockquote><%= @script_report.details %></blockquote>

<% if @script_report.additional_info.present? %>
  <p>This additional info was provided:</p>
  <blockquote><%= @script_report.additional_info %></blockquote>
<% end %>

<% if @script_report.rebuttal.present? %>
  <p><%= @script_report.script.users.map { |u| link_to(u.name, u) }.to_sentence.html_safe %> has responded:</p>
  <blockquote><%= @script_report.rebuttal %></blockquote>
<% else %>
  <p><%= @script_report.script.users.map { |u| link_to(u.name, u) }.to_sentence.html_safe %> has not yet responded to this report.
<% end %>

<% if @script_report.report_type == ScriptReport::TYPE_UNAUTHORIZED_CODE %>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Script</th>
      <th>License</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Reported</td>
      <td><%= link_to @script_report.script.name(request_locale), @script_report.script %></td>
      <td><%= license_display(@script_report.script) %></td>
      <td><%= @script_report.script.created_at %></td>
      <td><%= @script_report.script.code_updated_at %></td>
    </tr>
    <tr>
      <td>Original</td>
      <td><%= link_to @script_report.reference_script.name(request_locale), @script_report.reference_script %></td>
      <td><%= license_display(@script_report.reference_script) %></td>
      <td><%= @script_report.reference_script.created_at %></td>
      <td><%= @script_report.reference_script.code_updated_at %></td>
    </tr>
    </tbody>
  </table>


  <div class="report-diff">
    <% if @diff.nil? %>
      <p>The scripts are identical.</p>
    <% else %>
      <%= @diff %>
    <% end %>
  </div>
<% end %>

<% other_reports = @script_report.script.script_reports.where.not(id: @script_report.id) %>
<% if other_reports.any? %>
  <p>This script has been reported before.</p>
  <ul>
    <% other_reports.each do |other_report| %>
      <li><%= render other_report %></li>
    <% end %>
  </ul>
<% end %>

<hr>

<% if @script_report.dismissed? %>

  <p>This report has been dismissed by a <%= site_name %> moderator.</p>

  <% if @script_report.moderator_note.presence %>
    <p>Notes from the moderator:</p>
    <blockquote><%= @script_report.moderator_note %></blockquote>
  <% end %>

<% elsif @script_report.upheld? %>

  <p>As a result of this report, the script has been deleted by a <%= site_name %> moderator.</p>

  <% if @script_report.moderator_note.presence %>
    <p>Notes from the moderator:</p>
    <blockquote><%= @script_report.moderator_note %></blockquote>
  <% end %>

<% elsif @script_report.script.users.include?(current_user) %>
  <p>As the author of <%= link_to @script_report.script.name(request_locale), @script_report.script %>, you can choose to delete your script or to submit a rebuttal. If you choose to submit a rebuttal, it will be reviewed by a moderator and a decision will be made.</p>
  <%= form_with(model: @script_report, url: rebut_script_script_report_path(@script_report.script, @script_report), method: :patch, local: true) do |f| %>
    <div class="form-control">
      <%= f.label :rebuttal %><br>
      <span class="label-note">Include reasoning and evidence and avoid personal attacks.</span>
      <%= f.text_area :rebuttal %>
    </div>
    <%= f.submit @script_report.rebuttal.present? ? 'Update rebuttal' : 'Submit rebuttal' %>
  <% end %>
  
  <%= form_with(model: @script_report, url: resolve_delete_script_script_report_path(@script_report.script, @script_report), method: :patch, local: true, html: {style: 'margin-top: 1em'}) do |f| %>
    <div class="form-control">
      <%= label_tag 'Delete script' %>
    </div>
    <p>This cannot be undone.</p>
    <%= f.submit 'Delete script' %>
  <% end %>

<% elsif current_user&.moderator? %>

  <% if @script_report.script.users.include?(current_user) || @script_report.reference_script && @script_report.reference_script.users.include?(current_user) %>

    <p>You cannot moderate a report you are involved in.</p>

  <% else %>

    <%= form_with(model: @script_report, url: dismiss_script_script_report_path(@script_report.script, @script_report), method: :patch, local: true, html: {style: 'margin-top: 1em'}) do |f| %>
      <div class="form-control">
        <%= label_tag 'Dismiss report' %>
      </div>
      <p>Dismiss the report if it has no merit.</p>
      <div class="form-control">
        <%= text_area_tag(:moderator_note, nil, placeholder: 'Dismissal notes (optional)') %>
      </div>
      <%= f.submit 'Dismiss report' %>
    <% end %>

    <%= form_with(model: @script_report, url: resolve_delete_script_script_report_path(@script_report.script, @script_report), method: :patch, local: true, html: {style: 'margin-top: 1em'}) do |f| %>
      <div class="form-control">
        <%= label_tag 'Delete script' %>
      </div>
      <p>Delete the script if it's breaking the rules.</p>
      <div class="form-control">
        <%= text_area_tag(:moderator_note, nil, placeholder: 'Deletion notes (optional)') %>
      </div>

      <% @script_report.script.users.each do |user| %>
        <%
          locked_count = user.scripts.locked.count
          not_locked_count = user.scripts.not_locked.where.not(id: @script_report.script.id).count
        %>
        <p>
          <%= link_to(user.name, user) %> has <%= locked_count %> locked <%= 'script'.pluralize(locked_count) %> and <%= not_locked_count %> non-locked <%= 'script'.pluralize(not_locked_count) %> (not including this one).<br>
          <% if user.banned? %>
            <input type="checkbox" disabled> <label><i>(<%= user.name %> is already banned.)</i></label>
          <% else %>
            <input id="ban-<%= user.id %>" name="ban_users[]" type="checkbox" value="<%= user.id %>"> <label for="ban-<%= user.id %>"> Ban <%= user.name %></label>
          <% end %>
          <br>
          <% if not_locked_count == 0 %>
            <input type="checkbox" disabled> <label><i>(<%= user.name %> has no other scripts to delete and lock.)</i></label>
          <% else %>
            <input id="delete-<%= user.id %>" name="delete_users[]" type="checkbox" value="<%= user.id %>"> <label for="delete-<%= user.id %>"> Delete and lock <%= user.name %>'s <%= not_locked_count %> <%= 'script'.pluralize(not_locked_count) %></label>
          <% end %>
        </p>
      <% end %>

      <%= f.submit 'Delete script' %>
    <% end %>

  <% end %>

<% else %>
  <p>This report will be reviewed by a moderator.</p>
<% end %>
