<div id="notification-setting-<%= notification_type %>" class="form-control">
  <div id="notification-setting-<%= notification_type %>-<%= UserNotificationSetting::DELIVERY_TYPE_ON_SITE %>>">
    <%= check_box_tag "notification_settings[#{notification_type}][]", UserNotificationSetting::DELIVERY_TYPE_ON_SITE, id: "notification_settings_#{notification_type}_#{UserNotificationSetting::DELIVERY_TYPE_ON_SITE}", checked: current_settings[notification_type].include?(UserNotificationSetting::DELIVERY_TYPE_ON_SITE) %>
    <%= label_tag "notification_settings_#{notification_type}_#{UserNotificationSetting::DELIVERY_TYPE_ON_SITE}", t('users.notifications.on_site'), class: 'radio-label' %>
  </div>
  <div id="notification-setting-<%= notification_type %>-<%= UserNotificationSetting::DELIVERY_TYPE_EMAIL %>">
    <%= check_box_tag "notification_settings[#{notification_type}][]", UserNotificationSetting::DELIVERY_TYPE_EMAIL, id: "notification_settings_#{notification_type}_#{UserNotificationSetting::DELIVERY_TYPE_EMAIL}", checked: current_settings[notification_type].include?(UserNotificationSetting::DELIVERY_TYPE_EMAIL) %>
    <%= label_tag "notification_settings_#{notification_type}_#{UserNotificationSetting::DELIVERY_TYPE_EMAIL}", t('users.notifications.email'), class: 'radio-label' %>
  </div>
</div>
