<h2><%= t('users.notifications.title') %></h2>

<%= form_with(model: @user, url: update_notifications_user_path(@user), method: :PATCH) do |f| %>
  <div class="form-control">
    <%= f.label :author_email_notification_type_id %><br>
    <%= f.radio_button(:author_email_notification_type_id, User::AUTHOR_NOTIFICATION_NONE) %> <%= f.label :author_email_notification_type_id, t('users.author_email_notification_type.none'), class: 'radio-label', value: User::AUTHOR_NOTIFICATION_NONE %><br>
    <%= f.radio_button(:author_email_notification_type_id, User::AUTHOR_NOTIFICATION_DISCUSSION) %> <%= f.label :author_email_notification_type_id, t('users.author_email_notification_type.discussion_only'), class: 'radio-label', value: User::AUTHOR_NOTIFICATION_DISCUSSION %><br>
    <%= f.radio_button(:author_email_notification_type_id, User::AUTHOR_NOTIFICATION_COMMENT) %> <%= f.label :author_email_notification_type_id, t('users.author_email_notification_type.discussion_and_comment'), class: 'radio-label', value: User::AUTHOR_NOTIFICATION_COMMENT %><br>
  </div>

  <div class="form-control">
    <%= label_tag t('users.notifications.discussion_defaults.title') %>
    <div>
      <%= f.check_box :subscribe_on_discussion %>
      <%= f.label :subscribe_on_discussion, t('users.notifications.discussion_defaults.new_discussion'), class: 'radio-label' %>
    </div>
    <div>
      <%= f.check_box :subscribe_on_comment %>
      <%= f.label :subscribe_on_comment, t('users.notifications.discussion_defaults.new_comment'), class: 'radio-label' %>
    </div>
    <div>
      <%= f.check_box :notify_on_mention %>
      <%= f.label :notify_on_mention, t('users.notifications.discussion_defaults.mention'), class: 'radio-label' %>
    </div>
    <% if @user.discussion_subscriptions.any? %>
      <div>
        <%= check_box_tag :unsubscribe_all_discussions, '1' %>
        <%= label_tag :unsubscribe_all_discussions, it('users.notifications.current_discussion_subscriptions', count: @user.discussion_subscriptions.count, discussions_link: discussions_path(me: 'subscribed')), class: 'radio-label' %>
      </div>
    <% end %>
  </div>

  <div class="form-control">
    <%= label_tag t('users.notifications.conversation_defaults.title') %>
    <div>
      <%= f.check_box :subscribe_on_conversation_starter %>
      <%= f.label :subscribe_on_conversation_starter, t('users.notifications.conversation_defaults.starter'), class: 'radio-label' %>
    </div>
    <div>
      <%= f.check_box :subscribe_on_conversation_receiver %>
      <%= f.label :subscribe_on_conversation_receiver, t('users.notifications.conversation_defaults.receiver'), class: 'radio-label' %>
    </div>
  </div>

  <div>
    <%= f.submit t('users.notifications.save_button') %>
    <% if @user.author_email_notification_type_id != User::AUTHOR_NOTIFICATION_NONE || @user.subscribe_on_discussion || @user.subscribe_on_comment || @user.subscribe_on_conversation_starter || @user.subscribe_on_conversation_receiver || @user.notify_on_mention || @user.discussion_subscriptions.any? %>
      <%= f.submit t('users.notifications.unsubscribe_all'), formaction: unsubscribe_all_user_path(@user) %>
    <% end %>
  </div>
<% end %>
