<%- title t(sleazy? ? 'home.sleazy_title' : 'home.title', site_name: site_name) %>
<%- description "#{site_name} is a free site providing user scripts to improve your web browsing experience." %>

<p class="front-page-p"><%=t(sleazy? ? 'home.sleazy_welcome' : 'home.welcome', site_name: site_name)%></p>

<section class="front-page-box">
	<h3><%=t('home.explain_user_scripts_heading')%></h3>

	<p><%=t('home.explain_user_scripts_html', site_name: site_name)%></p>
</section>

<section class="front-page-box">
	<h3><%=t('home.how_to_install_user_scripts_heading', site_name: site_name)%></h3>

	<p><%=it('home.how_to_install_user_scripts_html', site_name: site_name, gm_link: 'https://addons.mozilla.org/firefox/addon/greasemonkey/', tm_link: 'https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo', other_managers_link: help_installing_user_scripts_path)%></p>
</section>

<section>
	<h3><%=t('home.scripts_sample')%></h3>
	<ul>
		<% @highlighted_scripts.each do |script| %>
			<li><%=link_to script.name(I18n.locale), script%> - <%=script.description(I18n.locale)%></li>
		<% end %>
		<li><%=link_to t('home.scripts_sample_more'), scripts_path%></li>
	</ul>
</section>
