<%- title 'Import scripts' %>

<p>Greasy Fork can import scripts that already hosted elsewhere. This lets you do things like have your script available for download in multiple places or have it in version control.</p>

<ul>
	<li><%=link_to 'Import from userscripts.org', import_userscriptsorg_path%></li>
	<li><%=link_to 'Import from URLs', import_url_path%></li>
</ul>

<% if !@scripts_by_source.empty? %>
	<h3>Previously imported scripts</h3>
	<% @scripts_by_source.each do |script_sync_source, scripts| %>
		<h4>From <%=script_sync_source.name%></h4>
		<ul>
			<% scripts.each do |script| %>
				<% if script.sync_error.nil? %>
					<li class="successful-sync"><%=link_to script.name, script%> - <%=script.script_sync_type.name %> syncing, last synced <%=script.last_successful_sync_date.nil? ? '(unknown)' : markup_date(script.last_successful_sync_date)%></li>
				<% else %>
					<li class="failed-sync"><%=link_to script.name, script%> - <%=script.script_sync_type.name %> syncing, last sync attempt <%=script.last_attempted_sync_date.nil? ? '(unknown)' : markup_date(script.last_successful_sync_date)%>, <%=script.sync_error%></li>
				<% end %>
			<% end %>
		</ul>
	<% end %>
<% end %>
