<%- title t('.sign_in', :default => "Sign in") %>
<%- description 'Sign in page for Greasy Fork accounts.' %>

<script src="https://login.persona.org/include.js" type="text/javascript"></script>

<h3><%=t('users.sign_in_external')%></h3>

<p>
	<%=t('users.sign_in_with')%>
	<% Rails.application.config.available_auths.keys.each do |provider| %>
		<%=link_to Identity.pretty_provider(provider), "/auth/#{provider}", {:class => "#{provider}-login"}%>
	<% end %>
</p>

<h3><%=t('users.sign_in_password')%></h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit t('.sign_in', :default => "Sign in") %></div>
<% end %>

<%= render "devise/shared/links" %>
