<h2>Greasy Fork admin</h2>

<ul>
  <li><%= link_to 'Blocked Code', admin_blocked_script_codes_path %></li>
  <li><%= link_to 'Blocked Text', admin_blocked_script_texts_path %></li>
  <li><%= link_to 'Blocked URLs', admin_blocked_script_urls_path %></li>
  <li><%= link_to 'Blocked Users', admin_blocked_users_path %></li>
  <li><%= link_to 'Redirect Service Domains', admin_redirect_service_domains_path %></li>
  <li><%= link_to 'Spammy Email Domains', admin_spammy_email_domains_path %></li>
  <li><%= link_to 'Comment Spam Check Results', admin_comment_check_results_path %></li>
  <li><%= link_to 'Similarities', admin_script_similarities_path %></li>
  <li><%= link_to "Reported: #{Report.unresolved.count}", reports_path %></li>
  <li><%= link_to "Reported as not adult content: #{Script.reported_not_adult.count}", reported_not_adult_scripts_path %></li>
  <% if current_user.administrator? %>
    <li><%= link_to 'Ad Approval', pending_admin_ads_path %></li>
  <% end %>
  <li><%= link_to 'Rule Interpretations', admin_rule_interpretations_path %></li>
</ul>

<h3>Moderator team</h3>

<ul>
  <% User.moderators.each do |user| %>
    <li><%= link_to user.name, user %></li>
  <% end %>
</ul>
