<ol class="script-list">
  <% @scripts.each do |script| %>
    <li>
      <article>
        <h2>
          <%= render_script(script) %>
          (<%= script.page_views %>)
        </h2>
        <div>
          <span class="script-description"><%= script.description(I18n.locale) %></span>
          <%= link_to('Translate', "https://translate.google.com/#view=home&op=translate&sl=auto&tl=en&text=#{URI.encode_www_form_component(script.description(I18n.locale))}") %>
        </div>
        <p>
          <%= script.site_applications.map { |s| s.domain? ? link_to(s.text, "http://#{s.text}") : s.text}.join(', ').html_safe %>
        </p>
        <p style="padding: 0.5em 0">
          <%= form_with(model: @script, url: approve_admin_ad_path(script), method: :patch, html: { style: 'display: inline;' }) do %>
            <button>Approve</button>
          <% end %>
          <%= form_with(model: @script, url: reject_admin_ad_path(script), method: :patch, html: { style: 'display: inline;' }) do %>
            <button>Reject</button>
          <% end %>
        </p>
        <%= render partial: 'screenshots/show', locals: { attachable: script.newest_saved_script_version } %>
      </article>
    </li>
  <% end %>
</ol>
