<% i = 0 unless defined?(i) %>

<h4 id="open-report-<%= i %>"><%= report_item_link(report) %> has been reported for <%= report.reason_text %> by <%= link_to(report.reporter.name, user_path(report.reporter)) %>.</h4>

<% if report.item.is_a?(Comment) %>
  <div><%= t('common.quote.prefix_html', user: render_user(reported_user(report), reported_user_id(report))) %></div>
  <blockquote>
    <div class="user-content">
      <%= format_user_text(report.item.text, report.item.text_markup) %>
    </div>
  </blockquote>
<% elsif report.item.is_a?(Message) %>
    <div><%= t('common.quote.prefix_html', user: render_user(reported_user(report), reported_user_id(report))) %></div>
    <blockquote>
      <div class="user-content">
        <%= format_user_text(report.item.content, report.item.content_markup) %>
      </div>
    </blockquote>
<% end %>

<% if report.explanation.present? %>
  <div><%= t('common.quote.prefix_html', user: render_user(report.reporter, report.reporter_id)) %></div>
  <blockquote>
    <%= report.explanation %>
  </blockquote>
<% end %>

<% reporter_stats = report.reporter.report_stats(ignore_report: report) %>
<% if reporter_stats.values.any?{ |v| v > 0 } %>
  <p>
    <%= link_to(report.reporter.name, user_path(report.reporter)) %> has made
    <%= reporter_stats[:pending] %> pending <%= 'report'.pluralize(reporter_stats[:pending]) %>,
    <%= reporter_stats[:dismissed] %> dismissed <%= 'report'.pluralize(reporter_stats[:dismissed]) %>,
    and <%= reporter_stats[:upheld] %> upheld <%= 'report'.pluralize(reporter_stats[:upheld]) %>.
  </p>
<% end %>

<% if reported_user(report) %>
  <p>
    <%= render_user(reported_user(report), reported_user_id(report)) %> has made
    <%= link_to "#{reported_user(report).comments.not_deleted.count} #{'comment'.pluralize(reported_user(report).comments.not_deleted.count)}", discussions_path(user: reported_user(report).id) %>
    and posted <%= reported_user(report).scripts.count %> <%= 'script'.pluralize(reported_user(report).scripts.count) %>.
  </p>
<% end %>

<% if report.upheld? %>
  <p>
    <%= t('reports.result_upheld') %>
  </p>
<% elsif report.dismissed? %>
  <p>
    <%= t('reports.result_dismissed') %>
  </p>
<% elsif current_user&.moderator? %>
  <%= button_to('Dismiss report', dismiss_report_path(report, index: i), method: 'POST', form_class: 'inline-form') %>
  <% case report.item %>
  <% when User %>
    <%= button_to("Ban #{report.item.name}", uphold_report_path(report, index: i), method: 'POST', form_class: 'inline-form') %>
  <% when Comment %>
    <%= button_to("Delete comment", uphold_report_path(report, index: i), method: 'POST', form_class: 'inline-form') %>
    <% if report.item.poster && !report.item.poster.banned? %>
      <%= button_to("Delete comment and ban #{report.item.poster.name}", uphold_report_path(report, variant: 'ban'), method: 'POST', form_class: 'inline-form') %>
    <% end %>
  <% when Message %>
    <%= button_to("Ban #{report.item.poster.name}", uphold_report_path(report, index: i), method: 'POST', form_class: 'inline-form') %>
  <% else
       raise "Unknown item #{report.item}"
     end %>
<% else %>
  <p>
    <%= t('reports.result_pending') %>
  </p>
<% end %>