<% i = 0 unless defined?(i) %>

<h4 id="open-report-<%= i %>"><%= report_item_link(report) %> has been reported for <%= report.reason_text %> by <%= report.auto_reporter || link_to(report.reporter.name, user_path(report.reporter)) %>.</h4>

<% if report.item.is_a?(Comment) %>
  <div><%= t('common.quote.prefix_html', user: render_user(report.reported_user, report.reported_user_id)) %></div>
  <blockquote>
    <div class="user-content">
      <%= format_user_text(report.item.text, report.item.text_markup) %>
    </div>
  </blockquote>
<% elsif report.item.is_a?(Message) %>
    <div><%= t('common.quote.prefix_html', user: render_user(report.reported_user, report.reported_user_id)) %></div>
    <blockquote>
      <div class="user-content">
        <%= format_user_text(report.item.content, report.item.content_markup) %>
      </div>
    </blockquote>
<% end %>

<% if report.explanation.present? %>
  <div><%= t('common.quote.prefix_html', user: render_user(report.reporter, report.reporter_id)) %></div>
  <blockquote>
    <div class="user-content">
      <%= format_user_text(report.explanation, report.explanation_markup) %>
    </div>
  </blockquote>
<% end %>

<% if report.reporter %>
  <% reporter_stats = report.reporter.report_stats(ignore_report: report) %>
  <% if reporter_stats.values.any?{ |v| v > 0 } %>
    <p>
      <%= link_to(report.reporter.name, user_path(report.reporter)) %> has made
      <%= reporter_stats[:pending] %> pending <%= 'report'.pluralize(reporter_stats[:pending]) %>,
      <%= reporter_stats[:dismissed] %> dismissed <%= 'report'.pluralize(reporter_stats[:dismissed]) %>,
      and <%= reporter_stats[:upheld] %> upheld <%= 'report'.pluralize(reporter_stats[:upheld]) %>.
    </p>
  <% end %>
<% end %>

<% if report.reported_user %>
  <p>
    <%= render_user(report.reported_user, report.reported_user_id) %> has made
    <%= link_to "#{report.reported_user.comments.not_deleted.count} #{'comment'.pluralize(report.reported_user.comments.not_deleted.count)}", discussions_path(user: report.reported_user.id) %>
    and posted <%= report.reported_user.scripts.count %> <%= 'script'.pluralize(report.reported_user.scripts.count) %>.
  </p>
<% end %>

<% if report.upheld? %>
  <p>
    <%= t('reports.result_upheld') %>
  </p>
<% elsif report.dismissed? %>
  <p>
    <%= t('reports.result_dismissed') %>
  </p>
<% elsif current_user&.moderator? %>
  <%= button_to('Dismiss report', dismiss_report_path(report, index: i), method: 'POST', form_class: 'inline-form') %>
  <%= form_tag(uphold_report_path(report, index: i), method: 'POST', class: 'report-resolution-options') do %>

    <% if report.reported_user %>
      <% other_comments = report.reported_user.comments.not_deleted
      other_comments = other_comments.where.not(id: report.item.id) if report.item.is_a?(Comment)
      if other_comments.count > 0 %>
        <%= check_box_tag :delete_comments, '1', false, id: "delete-comments-#{report.id}" %><%= label_tag "delete-comments-#{report.id}", "Delete #{report.reported_user.name}'s #{other_comments.count} #{(report.item.is_a?(Comment) ? 'other comment' : 'comment').pluralize(other_comments.count)}" %><br>
      <% end %>

      <% scripts = report.reported_user.scripts.not_deleted
      if scripts.count > 0 %>
        <%= check_box_tag :delete_scripts, '1', false, id: "delete-scripts-#{report.id}" %><%= label_tag "delete-scripts-#{report.id}", "Delete #{report.reported_user.name}'s #{scripts.count} #{'script'.pluralize(scripts.count)}" %><br>
      <% end %>
    <% end %>

    <% if report.item.is_a?(Comment) && report.reported_user && !report.reported_user.banned? %>
      <%= check_box_tag :ban, '1', false, id: "ban-#{report.id}" %><%= label_tag "ban-#{report.id}", "Ban #{report.reported_user.name}" %><br>
    <% end %>

    <% case report.item %>
    <% when User %>
      <%= submit_tag "Ban #{report.reported_user.name}" %>
    <% when Comment %>
      <%= submit_tag("Delete comment") %>
    <% when Message %>
      <%= submit_tag("Ban #{report.reported_user.name}") %>
    <% else
      raise "Unknown item #{report.item}"
    end
  end %>
<% else %>
  <p>
    <%= t('reports.result_pending') %>
  </p>
<% end %>