<%= form_with(model: [:admin, @blocked_script_code]) do |f| %>
  <div class="form-control">
    <%= f.label :category %>
    <%= f.select :category, options_for_select(BlockedScriptCode.categories.keys), include_blank: '(none)' %>
  </div>

  <div class="form-control">
    <%= f.label :pattern %>
    <%= f.text_field :pattern, required: true %>
  </div>

  <div class="form-control">
    <%= f.check_box :case_insensitive %>
    <%= f.label :case_insensitive, class: 'radio-label' %>
  </div>

  <div class="form-control">
    <%= f.label :public_reason %>
    <%= f.text_field :public_reason, required: true %>
  </div>

  <div class="form-control">
    <%= f.label :private_reason %>
    <%= f.text_field :private_reason, required: true %>
  </div>

  <div class="form-control">
    <%= f.label :originating_script_id %>
    <%= f.text_field :originating_script_id %>
  </div>

  <div class="form-control">
    <%= f.check_box :serious %>
    <%= f.label :serious, 'Ban/delete', class: 'radio-label' %>
  </div>

  <div class="form-control">
    <%= f.check_box :notify_admin %>
    <%= f.label :notify_admin, 'Notify admin', class: 'radio-label' %>
  </div>

  <%= f.submit %>
<% end %>
