<% content_for :content do %>
  <section id="script-info">
    <ul id="script-links" class="tabs">
      <li<%= current_page?(script_path(@script, version: params[:version])) ? ' class="current"'.html_safe : '' %>><%= link_to_unless_current "<span>#{t('scripts.info_page')}</span>".html_safe, script_path(@script, version: params[:version]) %></li>
      <li<%= current_page?(show_code_script_path(@script, version: params[:version])) ? ' class="current"'.html_safe : '' %>><%= link_to_unless_current "<span>#{t('scripts.code_page')}</span>".html_safe, show_code_script_path(@script, version: params[:version]) %></li>
      <li<%= ((controller_name == 'script_versions' && action_name == 'index') || (controller_name == 'scripts' && action_name == 'diff')) ? ' class="current"'.html_safe : '' %>><%= link_to_unless_current "<span>#{t('scripts.history_page')}</span>".html_safe, script_script_versions_path(@script, version: params[:version]) %></li>
      <li<%= (current_page?(feedback_script_path(@script, version: params[:version])) || controller_name == 'discussions')? ' class="current"'.html_safe : '' %>><%= link_to_unless_current "<span>#{t('scripts.feedback_page', count: @script.discussions.visible.count)}</span>".html_safe, feedback_script_path(@script, version: params[:version]) %></li>
      <li<%= current_page?(stats_script_path(@script, version: params[:version])) ? ' class="current"'.html_safe : '' %>><%= link_to_unless_current "<span>#{t('scripts.stats_page')}</span>".html_safe, stats_script_path(@script, version: params[:version]) %></li>
      <% same_user = current_user && @script.user_ids.include?(current_user.id)
      user_is_mod = !current_user.nil? && current_user.moderator? %>
      <% if same_user || user_is_mod %>
        <li<%= current_page?(derivatives_script_path(@script, version: params[:version])) ? ' class="current"'.html_safe : '' %>><%= link_to_unless_current "<span>#{t('scripts.derivatives_page')}</span>".html_safe, derivatives_script_path(@script, version: params[:version]) %></li>
      <% end %>
      <% if same_user %>
        <li<%= current_page?(new_script_script_version_path(@script.id)) ? ' class="current"'.html_safe : '' %>><%= link_to_unless_current "<span>#{t('scripts.update_page')}</span>".html_safe, new_script_script_version_path(@script.id) %></li>
      <% end %>
      <% if same_user || user_is_mod %>
        <li<%= current_page?(delete_script_path(@script)) ? ' class="current"'.html_safe : '' %>><%= link_to_unless_current "<span>#{t('scripts.delete_page')}</span>".html_safe, delete_script_path(@script) %></li>
        <li<%= (
          current_page?(admin_script_path(@script)) ||
          action_name == 'sync_update'
         ) ? ' class="current"'.html_safe : '' %>><%= link_to_unless_current "<span>#{t('scripts.admin_page')}</span>".html_safe, admin_script_path(@script) %></li>
      <% end %>
    </ul>
    <header>
      <h2><%= @script.name(request_locale) %></h2>
      <p id="script-description" class="script-description"><%= @script.description(request_locale) %></p>
      <% if !params[:version].nil?
        latest_version_link = link_to t('scripts.version_notice_latest_version_link'), {:version => nil} %>
        <p id="version-note"><%= t('scripts.version_notice_html', date: markup_date(@script.updated_at), latest_version_link: latest_version_link.html_safe) %></p>
      <% end %>
      <% if (@script.pending_report_by_trusted_reporter? || @script.review_required?) && !@script.deleted? %>
        <p id="reported-note"><%= t('scripts.reported_notice_for_author') %></p>
      <% end %>
      <% if @script.deleted? %>
        <p id="deleted-note">
          <% report = @script.report_that_deleted %>
          <% if @script.locked? && report %>
            <% if @script.self_deleted %>
              <% if same_user %>
                <%= it('scripts.self_deleted_locked_author_notice_html', delete_reason: delete_reason(@script), appeal_link: new_script_script_lock_appeal_path(@script), code_rules_link: help_code_rules_path, site_name: site_name, report_link: report_path(report)) %>
              <% else %>
                This script was deleted by the author in response to <%= link_to "report ##{report.id}", report_path(report) %>.
              <% end %>
            <% else %>
              <%= it('scripts.deleted_locked_author_notice_html', delete_reason: delete_reason(@script), appeal_link: new_script_script_lock_appeal_path(@script), code_rules_link: help_code_rules_path, site_name: site_name, report_link: report_path(report)) %>
            <% end %>
          <% else %>
            <%= t('scripts.deleted_author_notice') %>
          <% end %>
        </p>
      <% end %>
    </header>
    <div id="script-content">
      <%= content_for?(:scripts_content) ? yield(:scripts_content) : yield %>
    </div>
  </section>
<% end %>

<% content_for(:head_bottom) do %>
  <meta name="twitter:card" content="summary">
  <meta property="og:title" content="<%= @script.default_name %>">
  <meta property="og:url" content="<%= script_url(@script, locale: nil) %>">
  <meta property="og:description" content="<%= @script.description(request_locale) %>">
  <% if @script_version && !@script_version.new_record? %>
    <%# Same as in screenshots/_show.html.erb %>
    <% attachments = @script_version.attachments.includes(:blob).load %>
    <% if attachments.any? %>
      <meta property="og:image" content="<%= attachments.first.blob.url %>">
    <% end %>
  <% end %>
<% end %>

<%= render template: 'layouts/base' %>
